<c-container fluid>
    <!--demographics-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong>Demographics</strong>
                </c-card-header>
                <c-card-body>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Policy Information-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong>Policy Information</strong>
                </c-card-header>
                <c-card-body>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Advanced -->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong>Advanced</strong>
                </c-card-header>
                <c-card-body>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--payor Address -->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <strong>Payor Address</strong>
                </c-card-header>
                <c-card-body>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <div class="d-md-flex justify-content-md-center">
        <button cButton color="primary" variant="outline">Save </button>
    </div>
</c-container>