<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="6" class="mb-2">
        <div class="card">
            <div class="card-header">
                New User Account
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label cLabel for="accfname">First Name</label>
                    <input cFormControl id="accfname" sizing="sm" />
                </div>
                <div class="mb-3">
                    <label cLabel for="acclname">Last Name</label>
                    <input cFormControl id="acclname" sizing="sm" />
                </div>
            </div>
        </div>
    </c-col>
    <c-col xs="6" class="mb-2">
        <div class="card">
            <div class="card-header">
                New User Account
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label cLabel for="accusridname">User ID</label>
                    <input cFormControl id="accusridname" sizing="sm" />
                </div>
                <div class="mb-3">
                    <label cLabel for="accusrmailname">Email</label>
                    <input cFormControl id="accusrmailname" sizing="sm" />
                </div>
            </div>
        </div>
    </c-col>
    <c-col xs="12" class="mb-2">
        <div class="card">
            <div class="card-header">
                User Permission
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>
                                Billing
                            </td>
                            <td>
                                <billing-role></billing-role>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </c-col>
</c-row>