<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="6" class="mb-2">
        <div class="card">
            <div class="card-header">
                New User Account
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label cLabel for="accfname">First Name</label>
                    <input cFormControl id="accfname" sizing="sm" />
                </div>
                <div class="mb-3">
                    <label cLabel for="acclname">Last Name</label>
                    <input cFormControl id="acclname" sizing="sm" />
                </div>
            </div>
        </div>
    </c-col>
    <c-col xs="6" class="mb-2">
        <div class="card">
            <div class="card-header">
                New User Account
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label cLabel for="accusridname">User ID</label>
                    <input cFormControl id="accusridname" sizing="sm" />
                </div>
                <div class="mb-3">
                    <label cLabel for="accusrmailname">Email</label>
                    <input cFormControl id="accusrmailname" sizing="sm" />
                </div>
            </div>
        </div>
    </c-col>
    <c-col xs="12" class="mb-2">
        <div class="card">
            <div class="card-header">
                User Permission
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Billing</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="billingh" [value]="true" name="billing" [checked]=""
                                        type="radio" />
                                    <label cFormCheckLabel for="billingh">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="billingv" [value]="false" name="billing" type="radio" />
                                    <label cFormCheckLabel for="billingv">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="billingvm" [value]="false" name="billing" type="radio" />
                                    <label cFormCheckLabel for="billingvm">View & Edit</label>
                                </c-form-check>
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>dddk</strong>
                                            </td>
                                            <td>
                                                <c-form-check inline sizing="xl">
                                                    <input cFormCheckInput id="billingh" [value]="true" name="billing" [checked]=""
                                                        type="radio" />
                                                    <label cFormCheckLabel for="billingh">Hidden</label>
                                                </c-form-check>
                                                <c-form-check inline>
                                                    <input cFormCheckInput id="billingv" [value]="false" name="billing" type="radio" />
                                                    <label cFormCheckLabel for="billingv">View</label>
                                                </c-form-check>
                                                <c-form-check inline>
                                                    <input cFormCheckInput id="billingvm" [value]="false" name="billing" type="radio" />
                                                    <label cFormCheckLabel for="billingvm">View & Edit</label>
                                                </c-form-check>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Provider</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="proh" [value]="true" name="provider" type="radio" />
                                    <label cFormCheckLabel for="proh">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="prov" [value]="false" name="provider" type="radio" />
                                    <label cFormCheckLabel for="prov">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="provm" [value]="false" name="provider" type="radio" />
                                    <label cFormCheckLabel for="provm">View & Edit</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Clients</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="clienth" [value]="true" name="client" type="radio" />
                                    <label cFormCheckLabel for="clienth">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="clientv" [value]="false" name="client" type="radio" />
                                    <label cFormCheckLabel for="clientv">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="clientvm" [value]="false" name="client" type="radio" />
                                    <label cFormCheckLabel for="clientvm">View & Edit</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Payment</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="paymenth" [value]="true" name="payment" type="radio" />
                                    <label cFormCheckLabel for="paymenth">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="paymentv" [value]="false" name="payment" type="radio" />
                                    <label cFormCheckLabel for="paymentv">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="paymentvm" [value]="false" name="payment" type="radio" />
                                    <label cFormCheckLabel for="paymentvm">View & Edit</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Filing</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="filingh" [value]="true" name="filing" type="radio" />
                                    <label cFormCheckLabel for="filingh">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="filingv" [value]="false" name="filing" type="radio" />
                                    <label cFormCheckLabel for="filingv">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="filingvm" [value]="false" name="filing" type="radio" />
                                    <label cFormCheckLabel for="filingvm">View & Edit</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Admin</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="adminh" [value]="true" name="admin" type="radio" />
                                    <label cFormCheckLabel for="adminh">Hidden</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="adminv" [value]="false" name="admin" type="radio" />
                                    <label cFormCheckLabel for="adminv">View</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="adminvm" [value]="false" name="admin" type="radio" />
                                    <label cFormCheckLabel for="adminvm">View & Edit</label>
                                </c-form-check>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </c-col>
</c-row>