<ngx-spinner></ngx-spinner>
<form cForm #accountForm="ngForm">
    <c-row>
        <c-col xs="6" class="mb-2">
            <div class="card">
                <div class="card-header">
                    User Information
                </div>
                <div class="card-body">
                    <small
                        *ngIf="notValidForm   && (accountFirstname.errors) ||   accountFirstname.invalid && (accountFirstname.dirty || accountFirstname.touched)"
                        class="form-text text-danger">
                        First name is required
                    </small>
                    <div class="mb-3">
                        <label cLabel for="accfname">First Name</label>
                        <input cFormControl id="accfname" [(ngModel)]="user.firstName" sizing="sm" name="firstname"
                            #accountFirstname="ngModel" readonly />
                    </div>
                    <small
                        *ngIf="notValidForm   && (accounLastname.errors) ||   accounLastname.invalid && (accounLastname.dirty || accounLastname.touched)"
                        class="form-text text-danger">
                        Last name is required
                    </small>
                    <div class="mb-3">
                        <label cLabel for="acclname">Last Name</label>
                        <input cFormControl id="acclname" sizing="sm" #accounLastname="ngModel" name="lastname"
                            [(ngModel)]="user.lastName" readonly />
                    </div>
                    <small
                        *ngIf="notValidForm   && (accountEmail.errors) ||   accountEmail.invalid && (accountEmail.dirty || accountEmail.touched)"
                        class="form-text text-danger">
                        Email is required
                    </small>
                    <div class="mb-3">
                        <label cLabel for="accusrmailname">Email</label>
                        <input cFormControl id="accusrmailname" sizing="sm" #accountEmail="ngModel" name="accountEmail"
                            readonly [(ngModel)]="user.email" type="email" email />
                    </div>
                </div>
            </div>
        </c-col>
        <c-col xs="6" class="mb-2">
            <div class="card">
                <div class="card-header">
                    User Account
                </div>
                <div class="card-body">
                    <small
                        *ngIf="notValidForm   && (accounID.errors) ||   accounID.invalid && (accounID.dirty || accounID.touched)"
                        class="form-text text-danger">
                        Account ID is required
                    </small>
                    <div class="mb-3">
                        <label cLabel for="accusridname">User ID</label>
                        <input cFormControl id="accusridname" sizing="sm" #accounID="ngModel" name="accounID" readonly
                            [(ngModel)]="user.userAccount" />
                    </div>
                </div>
            </div>
        </c-col>
        <c-col xs="12" class="mb-2">
            <div class="card">
                <div class="card-header">
                    User Permission
                </div>
                <div class="card-body">
                    <small *ngIf="notValidPermissions " class="form-text text-danger">
                        Select Permissions<br />
                    </small>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Billing
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <billing-role #billingRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></billing-role>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Providers
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <provider-role #providerRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></provider-role>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Client
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <client-role #clientRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></client-role>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Payment
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <payment-role #paymentRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></payment-role>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Filing
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <filing-role #filingRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></filing-role>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <strong>
                                            Admin Tools
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <admin-role #adminRoleComponent [roleBinder]="binder"
                                        [componentRole]="componentRole"></admin-role>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </c-col>
    </c-row>
</form>
<div class="col text-center my-3">
    <button cButton color="info" variant="outline" size="sm" (click)="update()" style="width: 25%;" dispaly-input
        [componentRole]="componentRole">
        <span> Update</span>
    </button>
</div>