<ngx-spinner></ngx-spinner>
<!--Search Panel-->
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
      <strong>ERA Search</strong>
    </c-card-header>
    <c-card-body>
      <p class="text-medium-emphasis small">
        The Abiltiy to filter the era's list using Invoice Date,Client,Payers and check Number
      </p>
      <form cForm>
        <c-row>
          <c-col xs="12" class="mb-2">
            <input cFormControl placeholder="Client Name" sizing="sm" />
          </c-col>
          <c-col xs="12" class="mb-2">
            <input cFormControl placeholder="Payer Name" sizing="sm" />
          </c-col>
          <c-col xs="12" class="mb-2">
            <input cFormControl placeholder="check Number" sizing="sm" />
          </c-col>
          <c-col xs="12">
            <c-input-group class="mb-3" sizing="sm">
              <span cInputGroupText id="basic-addon1" >Invoice</span>
              <input type="date" cFormControl sizing="sm" name="invoiceStart_Date" id="invoiceStart_Date">
              <input type="date" cFormControl name="invoiceEnd_Date">
              <button cButton size="sm" variant="outline">
                <svg cIcon name="cilFilter" title="cilFilterX"></svg>
              </button>
            </c-input-group>
          </c-col>
        </c-row>
        <c-row>
          <c-col xs="12" class="text-center">
            <button cButton class="me-1" color="primary" style="width: 15%;">
              Search
            </button>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
  </c-card>
</c-col>
<c-col xs="12">
  <ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" [items]="(earList$ | async) ?? []"
      activePage="1" pagination [itemsPerPage]="props.itemsPerPage"
      (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
      [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true , small:true }"
      [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
      [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
      (sorterValueChange)="handleSorterValueChange($event)" header>
      <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
        <td>
          <ng-container [ngSwitch]="columnName">
            <ng-container *ngSwitchCase="'payerName'" class="py-2">
              <strong>{{item.payerName}}</strong><br />
              Payment# : {{item.checkNumber}}
            </ng-container>
            <ng-container *ngSwitchCase="'seen'" class="py-2">
              <c-badge [color]="'success'" *ngIf="!item.seen">
                NEW
              </c-badge>
              <span *ngIf="item.seen">
                <svg cIcon name="cilFlagAlt"></svg>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'lines'" class="py-2">
              <strong>{{item.lines}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="'unapplied'" class="py-2">
              <span *ngIf="!item.seen" class="text-danger"> <strong>{{item.lines}}</strong></span>
              <span *ngIf="item.seen" class="text-danger"> <strong>{{item.lines - item.unAppliedLines}}</strong></span>
            </ng-container>
            <ng-container *ngSwitchCase="'paidAmount'" class="py-2">
              <strong>{{item.paidAmount}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="'actions'" class="py-2">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button cButton variant="outline" (click)="open(item)" size="sm" dispaly-input>
                  <svg cIcon name="cilDollar"></svg>
                </button>
                <button cButton variant="outline" (click)="archive(item)" size="sm">
                  <svg cIcon name="cilTrash"></svg>
                </button>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{tdContent}}
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
      (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
  </ng-container>
</c-col>
<span *ngIf="openERAVisibility">
  <c-modal id="openERA" [visible]="true" size="xl" backdrop="static" scrollable>
    <c-modal-header>
      <h3 cModalTitle>Open ERA</h3>
      <button (click)="toggleOpenERA()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <era-details *ngIf="openERAVisibility" [era]="selectedERAModel"
        (changeERADetailsVisibility)="changeOpenERAVisibility($event)"></era-details>
    </c-modal-body>
  </c-modal>
</span>
<c-modal id="editPatientProfile" [visible]="editPatientProfileVisibility" size="lg" backdrop="static" scrollable>
  <c-modal-header>
    <h2>Update Profile</h2>
    <button (click)="togglePatientProfileModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <patient-edit-profile [patient]="patient" *ngIf="editPatientProfileVisibility"
      (changeEditProfileVisibility)="changePatientProfileVisibility($event)"></patient-edit-profile>
  </c-modal-body>
</c-modal>