<c-container [fluid]="true" class="mt-3">
    <c-row>
        <c-col xs="3" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Is the parent's condtion related to</strong>
                </c-card-header>
                <c-card-body>
                    <c-col xs="8" class="mb-1">
                        <select aria-label="" cSelect sizing="sm"
                            [(ngModel)]="patientAdvancedInformation.pateintAdvancedCondtion.employment">
                            <option [value]=null disabled>Select Empoyment</option>
                            <option>Yes</option>
                            <option>No</option>
                            <option>N/A</option>
                        </select>
                    </c-col>
                    <c-col xs="8" class="mb-1">

                        <select aria-label="" cSelect sizing="sm"
                            [(ngModel)]="patientAdvancedInformation.pateintAdvancedCondtion.autoAccident">
                            <option [value]=null disabled>Select Auto Accident</option>
                            <option>Yes</option>
                            <option>No</option>
                            <option>N/A</option>
                        </select>
                    </c-col>
                    <c-col xs="8" class="mb-1">
                        <select aria-label="" cSelect sizing="sm"
                            [(ngModel)]="patientAdvancedInformation.pateintAdvancedCondtion.otherAccident">
                            <option [value]=null disabled>Select Other Accident</option>
                            <option>Yes</option>
                            <option>No</option>
                            <option>N/A</option>
                        </select>
                    </c-col>
                    <c-col xs="8" class="mb-1">
                        <input cFormControl placeholder="State" sizing="sm" />
                    </c-col>


                </c-card-body>
            </c-card>
        </c-col>
        <c-col xs="3" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Dates</strong>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12" class="mb-1">
                            <c-date-picker placeholder="First Symptoms" size="sm"
                                [(ngModel)]="patientAdvancedInformation.patientAdvancedDates.firstSymptoms"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-1">
                            <c-date-picker placeholder="Last Seen By Doctor" size="sm"
                                [(ngModel)]="patientAdvancedInformation.patientAdvancedDates.lastSeenByDoctor"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-1">
                            <c-date-picker placeholder="Accident Date" size="sm"
                                [(ngModel)]="patientAdvancedInformation.patientAdvancedDates.accident"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-1">
                            <c-date-picker placeholder="First Treatment" size="sm"
                                [(ngModel)]="patientAdvancedInformation.patientAdvancedDates.firstTreatment"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-1">
                            <c-date-picker placeholder="Same Illness" size="sm"
                                [(ngModel)]="patientAdvancedInformation.patientAdvancedDates.sameIInes"></c-date-picker>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col xs="3" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Unable to Work</strong>
                </c-card-header>
                <c-card-body>
                    <c-date-range-picker size="sm" [placeholder]="['From', 'To']"
                        [(startDate)]="patientAdvancedInformation.unableToWorkStartDate"
                        [(endDate)]="patientAdvancedInformation.unableToWorkEndDate"></c-date-range-picker>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col xs="3" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Hospitalized</strong>
                </c-card-header>
                <c-card-body>
                    <c-date-range-picker size="sm" [placeholder]="['From', 'To']"
                        [(startDate)]="patientAdvancedInformation.hospitalizedStartDate"
                        [(startDate)]="patientAdvancedInformation.hospitalizedEndDate"></c-date-range-picker>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>