<ngx-spinner></ngx-spinner>
<c-nav variant="tabs">
    <c-nav-item>
        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
            Basic Info
        </a>
    </c-nav-item>
    <c-nav-item>
        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
            Legacy ID
        </a>
    </c-nav-item>
</c-nav>
<c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
    <c-tab-pane tabPaneIdx=0>
        <c-row>
            <c-col class="col my-2">
                <input cFormControl [formControl]="npiCtrl" id="providernpi" class="mb-3"
                    placeholder="Type Provider NPI" sizing="sm" [readonly]="selectedProvider" />
            </c-col>
        </c-row>
        <!-- provider information-->
        <form cForm #providerCreateForm="ngForm" readonly-form [componentRole]="componentRole">
            <c-row>
                <c-col xs="12">
                    <c-card class="mb-4">
                        <c-card-header>
                            <div style="float: left;">
                                <svg cIcon name="cilUser" title="cilUser" size="xxl"></svg>
                            </div>
                            <c-row>
                                <c-col class="mb-1">
                                    <h3>Provider Information</h3>
                                </c-col>
                            </c-row>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                <small
                                    *ngIf="notValidForm   && (prpFirstName.errors) ||   prpFirstName.invalid && (prpFirstName.dirty || prpFirstName.touched)
                                    || notValidForm   && (prlastname.errors) ||   prlastname.invalid && (prlastname.dirty || prlastname.touched)"
                                    class="form-text text-danger">
                                    <span
                                        *ngIf="notValidForm   && (prpFirstName.errors) ||   prpFirstName.invalid && (prpFirstName.dirty || prpFirstName.touched)">
                                        First Name is required</span>
                                    <span
                                        *ngIf="notValidForm   && (prlastname.errors) ||   prlastname.invalid && (prlastname.dirty || prlastname.touched)">
                                        Last Name is required</span>
                                </small>
                                <c-col class="mb-1">
                                    <c-input-group sizing="sm">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilUser" title="cilUser"></svg>
                                        </span>
                                        <input cFormControl [(ngModel)]="provider.firstName" name="prpLastName"
                                            placeholder="First Name" #prpFirstName="ngModel" required />
                                        <input cFormControl [(ngModel)]="provider.lastName" name="prlastname"
                                            #prlastname="ngModel" required placeholder="Last Name" />
                                    </c-input-group>
                                </c-col>
                            </c-row>
                            <c-row>
                                <small
                                    *ngIf="notValidForm   && (prophone.errors) ||   prophone.invalid && (prophone.dirty || prophone.touched)"
                                    class="form-text text-danger">
                                    Phone required
                                </small>
                                <c-col class="mb-1">
                                    <c-input-group class="mb-3" sizing="sm">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilPhone" title="cilPhone"></svg>
                                        </span>
                                        <input placeholder="Phone" cFormControl id="phone" name="prophone" sizing="sm"
                                            required #prophone="ngModel" [(ngModel)]="provider.phone" />
                                    </c-input-group>
                                </c-col>
                            </c-row>
                            <c-row>
                                <small
                                    *ngIf="notValidForm   && (premail.errors) ||   premail.invalid && (premail.dirty || premail.touched)"
                                    class="form-text text-danger">
                                    Emial required
                                </small>
                                <c-col class="mb-1">
                                    <c-input-group class="mb-3" sizing="sm">
                                        <span cInputGroupText>
                                            <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                                        </span>
                                        <input placeholder="Email" cFormControl id="premail" name="premail" sizing="sm"
                                            required #premail="ngModel" [(ngModel)]="provider.email" />
                                    </c-input-group>
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </form>
        <!-- Provider Address information-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4">
                    <c-card-header>
                        <div style="float: left;">
                            <svg cIcon name="cilAddressBook" title="cilAddressBook" size="xxl"></svg>
                        </div>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Address </h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-row>
                            <small
                                *ngIf="notValidForm   && (proaddress.errors) ||   proaddress.invalid && (proaddress.dirty || proaddress.touched)"
                                class="form-text text-danger">
                                Address required
                            </small>
                            <c-col class="mb-1">
                                <c-input-group class="mb-3" sizing="sm">
                                    <input placeholder="Address" cFormControl id="address" name="proaddress" sizing="sm"
                                        readonly-input [componentRole]="componentRole" required #proaddress="ngModel"
                                        [(ngModel)]="provider.address.first" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <small
                                *ngIf="notValidForm   && (prstate.errors) ||   prstate.invalid && (prstate.dirty || prstate.touched)"
                                class="form-text text-danger">
                                State required
                            </small>
                            <c-col class="mb-1">
                                <c-input-group class="mb-3" sizing="sm">
                                    <input placeholder="State" cFormControl id="prstate" name="prstate" sizing="sm"
                                        required #prstate="ngModel" [(ngModel)]="provider.address.state" readonly-input
                                        [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <small
                                *ngIf="notValidForm   && (przipCode.errors) ||   przipCode.invalid && (przipCode.dirty || przipCode.touched)"
                                class="form-text text-danger">
                                zipcode required
                            </small>
                            <c-col class="mb-1">
                                <c-input-group class="mb-3" sizing="sm">
                                    <input placeholder="Zip Code" cFormControl id="przipCode" name="przipCode" required
                                        sizing="sm" required #przipCode="ngModel" [(ngModel)]="provider.address.zipCode"
                                        readonly-input [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <!--Provider Medical Information-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4">
                    <c-card-header>
                        <div style="float: left;">
                            <svg cIcon name="cilMedicalCross" title="cilMedicalCross" size="xxl"></svg>
                        </div>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Medical Information</h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-row>
                            <small
                                *ngIf="notValidForm   && (prlicense.errors) ||   prlicense.invalid && (prlicense.dirty || prlicense.touched)"
                                class="form-text text-danger">
                                License required
                            </small>
                            <c-col class="mb-1">
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        License
                                    </span>
                                    <input placeholder="License" cFormControl id="license" name="prlicense" sizing="sm"
                                        required #prlicense="ngModel" [(ngModel)]="provider.providerInfo.license"
                                        readonly-input [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <small
                                    *ngIf="notValidForm   && (prtaxonomyCode.errors) ||   prtaxonomyCode.invalid && (prtaxonomyCode.dirty || prtaxonomyCode.touched)"
                                    class="form-text text-danger">
                                    Taxonomy Code required
                                </small>
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        Taxonomy
                                    </span>
                                    <input placeholder="Taxonomy Code" cFormControl id="prtaxonomyCode"
                                        name="prtaxonomyCode" sizing="sm" required #prtaxonomyCode="ngModel"
                                        [(ngModel)]="provider.providerInfo.taxonomyCode" readonly-input
                                        [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <small
                                    *ngIf="notValidForm   && (prtaxId.errors) ||   prtaxId.invalid && (prtaxId.dirty || prtaxId.touched)"
                                    class="form-text text-danger">
                                    Tax ID required
                                </small>
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        Tax ID
                                    </span>
                                    <input placeholder="Tax Id" cFormControl id="prtaxId" name="prtaxId" sizing="sm"
                                        required #prtaxId="ngModel" [(ngModel)]="provider.providerInfo.taxId"
                                        readonly-input [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <small
                                    *ngIf="notValidForm   && (prprofessionAbbr.errors) ||   prprofessionAbbr.invalid && (prprofessionAbbr.dirty || prprofessionAbbr.touched)"
                                    class="form-text text-danger">
                                    professionAbbr required
                                </small>
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        professionAbbr
                                    </span>
                                    <input placeholder="Profession Abbr" cFormControl id="prprofessionAbbr"
                                        name="prprofessionAbbr" sizing="sm" required #prprofessionAbbr="ngModel"
                                        [(ngModel)]="provider.providerInfo.professionAbbr" readonly-input
                                        [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <small
                                    *ngIf="notValidForm   && (prcredentials.errors) ||   prcredentials.invalid && (prcredentials.dirty || prcredentials.touched)"
                                    class="form-text text-danger">
                                    Credentials required
                                </small>
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        Credentials
                                    </span>
                                    <input placeholder="Credentials" cFormControl id="prcredentials"
                                        name="prcredentials" sizing="sm" required #prcredentials="ngModel"
                                        [(ngModel)]="provider.providerInfo.credentials" readonly-input
                                        [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <small
                                    *ngIf="notValidForm   && (prgroup.errors) ||   prgroup.invalid && (prgroup.dirty || prgroup.touched)"
                                    class="form-text text-danger">
                                    Group required
                                </small>
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText style="width: 10%;">
                                        Group
                                    </span>
                                    <input placeholder="Add to group" cFormControl id="prgroup" name="prgroup"
                                        sizing="sm" required #prgroup="ngModel"
                                        [(ngModel)]="provider.providerInfo.group" readonly-input
                                        [componentRole]="componentRole" />
                                </c-input-group>
                            </c-col>
                        </c-row>

                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-tab-pane>
    <c-tab-pane tabPaneIdx=1>
        <!--Provider Legacy ID-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4 my-2">
                    <c-card-header>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Legacy ID</h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-row [gutter]="0">
                            <c-col xs="6" class="mb-3">
                                <ng-autocomplete [data]="payerNameList" [searchKeyword]="" id="payername"
                                    name="patientname" placeholder="Payer Name" [itemTemplate]="itemTemplate"
                                    (selected)='pickPayerName($event)' (inputCleared)="unpickPayerName()"
                                    [(ngModel)]="selectedPayerName" [notFoundTemplate]="notFoundTemplate"
                                    disable-auto-complete [componentRole]="componentRole">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </c-col>
                            <c-col xs="6" class="mb-3">
                                <ng-autocomplete [data]="payerIdList" [searchKeyword]="" id="payerid" name="payerid"
                                    placeholder="Payer Id" [itemTemplate]="itemTemplate"
                                    (selected)='pickPayerId($event)' (inputCleared)="unpickPayerId()"
                                    [(ngModel)]="selectedPayerId" [notFoundTemplate]="notFoundTemplate"
                                    disable-auto-complete [componentRole]="componentRole">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="col mb-3">
                                <select cSelect sizing="sm" #proIdQualifier="ngModel" name="proIdQualifier" required
                                    [(ngModel)]="provider.legacyID.providerIdQualifier">
                                    <option [value]=null disabled selected>Select Id Type</option>
                                    <option *ngFor="let type of idTypes"
                                        [value]="type.value" disable-input [componentRole]="componentRole">
                                        {{type.name}}
                                    </option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row *ngIf="provider.legacyID.providerIdQualifier !== 'ZZ'">
                            <c-col class="col mb-3">
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText id="basic-addon1">Legacy ID</span>
                                    <input cFormControl id="prorefid" name="prorefid" sizing="sm" required
                                        readonly-input [componentRole]="componentRole"
                                        [ngClass]="{'is-invalid': prorefid.invalid && (prorefid.dirty || prorefid.touched)}"
                                        #prorefid="ngModel" [(ngModel)]="provider.legacyID.providerId" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-tab-pane>
</c-tab-content>
<div class="d-md-flex justify-content-md-center">
    <button cButton color="primary" (click)="create()" variant="outline" size="sm" *ngIf="!selectedProvider"
        dispaly-input [componentRole]="componentRole">Create</button>
    <button cButton color="primary" (click)="update()" variant="outline" size="sm" *ngIf="selectedProvider"
        dispaly-input [componentRole]="componentRole">Update</button>
</div>