<ngx-spinner></ngx-spinner>
<c-nav variant="tabs">
    <c-nav-item>
        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
            Basic Info
        </a>
    </c-nav-item>
    <c-nav-item>
        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
            Legacy ID
        </a>
    </c-nav-item>
</c-nav>
<c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">

    <c-tab-pane tabPaneIdx=0>
        <c-row>
            <c-col class="col my-2">
                <input cFormControl [formControl]="npiCtrl" id="providernpi" class="mb-3"
                    placeholder="Type Provider NPI" sizing="sm" />
            </c-col>
        </c-row>
        <!-- provider information-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4">
                    <c-card-header>
                        <div style="float: left;">
                            <svg cIcon name="cilUser" title="cilUser" size="xxl"></svg>
                        </div>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Provider Information</h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-row>
                            <c-col class="mb-1">
                                <c-input-group sizing="sm">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilUser" title="cilUser"></svg>
                                    </span>
                                    <input cFormControl [(ngModel)]="provider.firstName" name="prpFirstName"
                                        placeholder="First Name" />
                                    <input cFormControl [(ngModel)]="provider.lastName" name="prlastname"
                                        placeholder="Last Name" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilPhone" title="cilPhone"></svg>
                            </span>
                            <input placeholder="Phone" cFormControl id="phone" name="phone" sizing="sm" required
                                #phone="ngModel" [(ngModel)]="provider.phone" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                            </span>
                            <input placeholder="Email" cFormControl id="email" name="email" sizing="sm" required
                                #email="ngModel" [(ngModel)]="provider.email" />
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <!-- Provider Address information-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4">
                    <c-card-header>
                        <div style="float: left;">
                            <svg cIcon name="cilAddressBook" title="cilAddressBook" size="xxl"></svg>
                        </div>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Address </h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-input-group class="mb-3" sizing="sm">
                            <input placeholder="Address" cFormControl id="address" name="address" sizing="sm" required
                                #address="ngModel" [(ngModel)]="provider.address.first" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <input placeholder="State" cFormControl id="state" name="state" sizing="sm" required
                                #state="ngModel" [(ngModel)]="provider.address.state" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <input placeholder="Zip Code" cFormControl id="zipCode" name="zipCode" sizing="sm" required
                                #zipCode="ngModel" [(ngModel)]="provider.address.zipCode" />
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <!--Provider Medical Information-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4">
                    <c-card-header>
                        <div style="float: left;">
                            <svg cIcon name="cilMedicalCross" title="cilMedicalCross" size="xxl"></svg>
                        </div>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Medical Information</h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                License
                            </span>
                            <input placeholder="License" cFormControl id="license" name="license" sizing="sm" required
                                #license="ngModel" [(ngModel)]="provider.providerInfo.license" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                Taxonomy
                            </span>
                            <input placeholder="Taxonomy Code" cFormControl id="taxonomyCode" name="taxonomyCode"
                                sizing="sm" required #taxonomyCode="ngModel"
                                [(ngModel)]="provider.providerInfo.taxonomyCode" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                Tax ID
                            </span>
                            <input placeholder="Tax Id" cFormControl id="taxId" name="taxId" sizing="sm" required
                                #taxId="ngModel" [(ngModel)]="provider.providerInfo.taxId" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                professionAbbr
                            </span>
                            <input placeholder="Profession Abbr" cFormControl id="professionAbbr" name="professionAbbr"
                                sizing="sm" required #professionAbbr="ngModel"
                                [(ngModel)]="provider.providerInfo.professionAbbr" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                Credentials
                            </span>
                            <input placeholder="Credentials" cFormControl id="credentials" name="credentials"
                                sizing="sm" required #credentials="ngModel"
                                [(ngModel)]="provider.providerInfo.credentials" />
                        </c-input-group>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText style="width: 10%;">
                                Group
                            </span>
                            <input placeholder="Add to group" cFormControl id="group" name="group" sizing="sm" required
                                #group="ngModel" [(ngModel)]="provider.providerInfo.group" />
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-tab-pane>
    <c-tab-pane tabPaneIdx=1>
        <!--Provider Legacy ID-->
        <c-row>
            <c-col xs="12">
                <c-card class="mb-4 my-2">
                    <c-card-header>
                        <c-row>
                            <c-col class="mb-1">
                                <h3>Legacy ID</h3>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body>
                        <c-row>
                            <c-col class="col mb-3">
                                <select cSelect sizing="sm" #proIdQualifier="ngModel" name="proIdQualifier" required
                                    [(ngModel)]="provider.legacyID.providerIdQualifier">
                                    <option [value]=null disabled selected>Select Id Type</option>
                                    <option *ngFor="let qualifier of idQualifierKeys(idQualifiers)"
                                        [value]="idQualifiers[qualifier]">
                                        {{qualifier}}
                                    </option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="col mb-3">
                                <c-input-group class="mb-3" sizing="sm">
                                    <span cInputGroupText id="basic-addon1">Legacy ID</span>
                                    <input cFormControl id="prorefid" name="prorefid" sizing="sm" required
                                        [ngClass]="{'is-invalid': prorefid.invalid && (prorefid.dirty || prorefid.touched)}"
                                        #prorefid="ngModel" [(ngModel)]="provider.legacyID.providerId" />
                                </c-input-group>
                            </c-col>
                        </c-row>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-tab-pane>
</c-tab-content>