<ngx-spinner></ngx-spinner>
<div style="float:right" class="mb-2">
  <button cButton color="info" variant="outline" size="sm" (click)="showAddLine()">
    <svg cIcon name="cilPlus"></svg>
  </button>
</div>
<br />
<div style="float:left;width: 100%;" class=" mb-3" *ngIf="showAddFeeScheduleLine">
  <c-card>
    <c-card-body>
      <div class="row mb-2">
        <div class="col">
          <input cFormControl sizing="sm" placeholder="CPT Code" name="cptCode"
            [(ngModel)]="addNewFeeScheduleLine.cptCode">
        </div>
        <div class="col">
          <select cSelect sizing="sm"  [(ngModel)]="addNewFeeScheduleLine.rateType" style="height: 32px;">
            <option value="Per_Unit">Per Unit</option>
            <option value="Fixed">Fixed</option>
          </select>
        </div>
        <div class="col">
          <input type="number" cFormControl sizing="sm" sizing="sm" placeholder="Unit"
            [(ngModel)]="addNewFeeScheduleLine.perUnit">
        </div>
        <div class="col">
          <input type="number" cFormControl sizing="sm" sizing="sm" placeholder="charge Amount"
            [(ngModel)]="addNewFeeScheduleLine.chargeAmount">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button cButton color="info" variant="outline" size="sm" (click)="addLine()">
            Add
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<c-col xs="12">
  <ng-container fluid="true">
    <table cTable hover small>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">cptCode</th>
          <th scope="col">rateType</th>
          <th scope="col">perUnit</th>
          <th scope="col">chargeAmount</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of feeScheduleLines;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{line.cptCode}}</td>
          <td>{{line.rateType}}</td>
          <td>{{line.perUnit}}</td>
          <td>{{line.chargeAmount}}</td>
          <td>
            <c-button-group aria-label="Basic example" role="group" size="sm">
              <button cButton variant="outline" (click)="edit()" size="sm">
                <svg cIcon name="cilPen"></svg>
              </button>
              <button cButton variant="outline" (click)="delete(i)" size="sm">
                <svg cIcon name="cilTrash"></svg>
              </button>
            </c-button-group>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

</c-col>