<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <div style="float: right;" class="mb-2">
            <c-button cButton color="primary" class="btn-sm" (click)="toggleAddInsuranceVisibility()"
                variant="outline">Add Card</c-button>
        </div>
    </c-col>
    <c-col xs="12" *ngIf="patientInsurances">
        <div class="card border mb-2" *ngFor="let insurance of patientInsurances;let i=index;">
            <div class="card-body" [ngClass]="{'text-bg-light': insurance.isArchived}">
                <div style="float: right;">
                    <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                        <button cButton variant="outline" class="btn-sm" variant="outline" color="info"
                            (click)="toggleEditInsuranceVisibility()">
                            <svg cIcon name="cilPen"></svg>
                        </button>
                        <button cButton variant="outline" class="btn-sm" variant="outline" color="info"
                            (click)="remove(i ,insurance)">
                            <svg cIcon name="cilTrash"></svg>
                        </button>
                    </c-button-group>
                    <div class="mt-2">
                        <c-form-check>
                            <label cFormCheckLabel>archive</label>
                            <input cFormCheckInput type="checkbox" name="archive" [(ngModel)]="insurance.isArchived" />
                        </c-form-check>
                    </div>
                </div>
                <h4>
                    <strong>{{insurance.insuranceCompany[0]}}</strong>
                    <span *ngIf="insurance.assigner !==null">
                        assigned to ({{insurance.assigner[1]}})
                    </span>

                </h4>
                <h6>{{insurance.patientInsurancePolicy.responsibility}}</h6>
                <h6>Plan : {{insurance.patientInsurancePolicy.planType}}</h6>
                <h6>Primary ID : {{insurance.patientInsurancePolicy.primaryId}}</h6>
            </div>
        </div>
    </c-col>
</c-row>
<c-modal id="addInsuranceModal" [visible]="addInsuranceVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Add Patient Insurance</h5>
        <button (click)="toggleAddInsuranceVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-create-insurance *ngIf="addInsuranceVisibility" (changeVisibility)="changeVisibility($event)"
            [patient]="patient" #createInsuranceComponent></app-create-insurance>
    </c-modal-body>
</c-modal>
<c-modal id="editInsuranceModal" [visible]="editInsuranceVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Edit Patient Insurance</h5>
        <button (click)="toggleEditInsuranceVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-create-insurance *ngIf="editInsuranceVisibility" (changeVisibility)="changeVisibility($event)"
            [patient]="patient" #createInsuranceComponent></app-create-insurance>
    </c-modal-body>
</c-modal>