<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <div style="float: right;" class="mb-2">
            <c-button cButton color="primary" class="btn-sm" (click)="toggleAddInsuranceVisibility()" variant="outline"
                dispaly-input [componentRole]="componentRole">Create Patient Insurance</c-button>
        </div>
    </c-col>
    <c-col xs="12" *ngIf="patientInsurances">
        <div class="card border mb-2" *ngFor="let insurance of patientInsurances;let i=index;">
            <div class="card-body" [ngClass]="{'text-bg-light': insurance.isArchived}">
                <div style="float: right;">
                    <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                        <button cButton variant="outline" class="btn-sm" variant="outline" color="info"
                            (click)="edit(insurance)">
                            <svg cIcon name="cilPen"></svg>
                        </button>
                        <button cButton variant="outline" class="btn-sm" variant="outline" color="info"
                            (click)="remove(i ,insurance)" dispaly-input [componentRole]="componentRole">
                            <svg cIcon name="cilTrash"></svg>
                        </button>
                    </c-button-group>
                    <div class="mt-2">
                        <c-form-check dispaly-input [componentRole]="componentRole">
                            <label cFormCheckLabel>archive</label>
                            <input cFormCheckInput type="checkbox" name="archive" [(ngModel)]="insurance.isArchived" />
                        </c-form-check>
                    </div>
                </div>
                <h2>
                    <strong>{{insurance.insuranceCompany[0]}}</strong>
                </h2>
                <h3><strong>Responsibility : {{insurance.patientInsurancePolicy.responsibility}}</strong></h3>
                <h3>Plan : {{insurance.patientInsurancePolicy.planType}}</h3>
                <h3>Primary ID : {{insurance.patientInsurancePolicy.primaryId}}</h3>
                <h3>Payer Id : {{insurance.insuranceCompany[2]}}</h3>
            </div>
        </div>
    </c-col>
</c-row>
<c-modal id="addInsuranceModal" [visible]="addInsuranceVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h3 cModalTitle>Add Patient Insurance</h3>
        <button (click)="toggleAddInsuranceVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-create-insurance *ngIf="addInsuranceVisibility" (changeVisibility)="changeVisibility($event)"
            [mode]="'create'" [patient]="patient" #createInsuranceComponent></app-create-insurance>
    </c-modal-body>
</c-modal>
<c-modal id="editInsuranceModal" [visible]="editInsuranceVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h2 cModalTitle>Edit {{editModalTitle}}</h2>
        <button (click)="toggleEditInsuranceVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-create-insurance *ngIf="editInsuranceVisibility" (changeVisibility)="changeVisibility($event)"
            [patient]="patient" #createInsuranceComponent [mode]="'edit'"
            [editPatientInsurance]="editPatientInsurance"></app-create-insurance>
    </c-modal-body>
</c-modal>