<form cForm>
    <div class="mb-3">
        <label cLabel for="busniessname">Busniess Name</label>
        <input cFormControl id="busniessname" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="firstname">First Name</label>
        <input cFormControl id="firstname" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="lastname">Last Name</label>
        <input cFormControl id="lastname" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="npi">NPI</label>
        <input cFormControl id="npi" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="taxid">Tax ID</label>
        <input cFormControl id="taxid" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="taxonomy">Taxonomy</label>
        <input cFormControl id="taxonomy" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="address">Address</label>
        <textarea cFormControl id="address" rows="3" sizing="sm"></textarea>
    </div>
    <div class="mb-3">
        <label cLabel for="addresstwo">Address 2</label>
        <textarea cFormControl id="addresstwo" rows="3" sizing="sm"></textarea>
    </div>
    <div class="mb-3">
        <label cLabel for="city">City</label>
        <input cFormControl id="city" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="state">State</label>
        <input cFormControl id="state" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="zipcode">Zip Code</label>
        <input cFormControl id="zipcode" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="phone">Phone</label>
        <input cFormControl id="phone" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="fax">Fax</label>
        <input cFormControl id="fax" sizing="sm" />
    </div>
    <div class="mb-3">
        <label cLabel for="email">Email</label>
        <input cFormControl id="email" type="email" sizing="sm" />
    </div>
</form>