<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <div style="float: left;">
                <svg cIcon name="cilCheck" title="cilCheck" size="xxl"></svg>
            </div>
            <c-row>
                <c-col class="mb-1">
                    <h3>Authorization</h3>
                    <span *ngIf="!this.patient.authorizationWatching">
                        <p class="text-medium-emphasis small">
                            Authorization is turned OFF
                        </p>
                        <p class="text-danger">
                            Authorization has to be selected manually for any submission after turned off
                        </p>
                    </span>
                    <span *ngIf="this.patient.authorizationWatching">
                        <p class="text-medium-emphasis small">
                            Authorization is turned ON
                        </p>
                    </span>
                </c-col>
                <c-col>
                    <div style="float:right">
                        <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                            <button cButton color="info" variant="outline" size="sm" (click)="add()">
                                <svg cIcon name="cilPlus"></svg>
                            </button>
                            <button cButton variant="outline" size="sm" (click)="togglePAtientWatchAuthorization(false)"
                                *ngIf="patient.authorizationWatching">
                                <svg cIcon name="cilToggleOn"></svg>
                            </button>
                            <button cButton variant="outline" size="sm" (click)="togglePAtientWatchAuthorization(true)"
                                *ngIf="!patient.authorizationWatching">
                                <svg cIcon name="cilToggleOff"></svg>
                            </button>
                        </c-button-group>
                    </div>
                </c-col>
            </c-row>
        </c-card-header>
        <c-card-body>
            <c-col xs="12" *ngFor="let patientAuthorization of renderList;let i=index;">
                <div class="card border-light mb-2" [ngClass]="{'text-bg-light': patientAuthorization.isExpired}">
                    <div class="card-body">
                        <div style="float: right;">
                            <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                                <button cButton variant="outline" class="btn-sm" (click)="edit(patientAuthorization)">
                                    <svg cIcon name="cilPen"></svg>
                                </button>
                                <button cButton variant="outline" class="btn-sm" (click)="remove(i)">
                                    <svg cIcon name="cilTrash"></svg>
                                </button>
                            </c-button-group>
                        </div>
                        <c-row>
                            <c-col xs="6">
                                {{patientAuthorization.authNumber}}
                            </c-col>
                            <c-col xs="6">
                                Remaining Visits : <strong>{{patientAuthorization.remaining}}</strong>
                                of <strong>{{patientAuthorization.visit}}</strong>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col xs="12">
                                <strong>{{patientAuthorization.insCompany[0]}} </strong>
                            </c-col>
                        </c-row>
                        Service Code : {{patientAuthorization.serviceCode}}
                        <c-col xs="6">
                            <c-date-range-picker size="sm" disabled="true" [placeholder]="['Starts', 'Expires']"
                                [(endDate)]="patientAuthorization.expireDate"
                                [(startDate)]="patientAuthorization.startDate" cTooltipPlacement="top"
                                cTooltip="Starts to Expires date"></c-date-range-picker>
                        </c-col>
                    </div>
                </div>
            </c-col>
        </c-card-body>
    </c-card>
</c-col>
<c-modal id="createAuth" [visible]="createAutVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h3 cModalTitle>Add Authorization</h3>
        <button (click)="toggleCreateAuthVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <create-auth *ngIf="createAutVisibility" #createAuthComponent
            (changeVisibility)="changeCreateVisibility($event)" [mode]="'create-edit-patient-profile'"
            [patientInsurances]="patient.patientInsurances" [patientId]="patient.id"></create-auth>
    </c-modal-body>
</c-modal>
<c-modal id="updateAuth" [visible]="updateAutVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h3 cModalTitle>Update Authorization</h3>
        <button (click)="toggleUpdateAuthVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <create-auth *ngIf="updateAutVisibility" #createAuthComponent
            (changeVisibility)="changeUpdateVisibility($event)" [patientInsurances]="patient.patientInsurances"
            [patientId]="patient.id" [mode]="'edit-edit-patient-profile'"
            [updatedModel]="selectedPatientAuthorization"></create-auth>
    </c-modal-body>
</c-modal>