<span *ngIf="!subPermissionVisability">
    <c-form-check inline sizing="xl">
        <input cFormCheckInput id="adminh" name="admin" type="radio" (change)="changeAdmin($event)" />
        <label cFormCheckLabel for="adminh">Hidden</label>
    </c-form-check>
    <c-form-check inline>
        <input cFormCheckInput id="adminv" name="admin" type="radio" (change)="changeAdmin($event)" />
        <label cFormCheckLabel for="adminv">View</label>
    </c-form-check>
    <c-form-check inline>
        <input cFormCheckInput id="adminvm" name="admin" type="radio" (change)="changeAdmin($event)" />
        <label cFormCheckLabel for="adminvm">View & Edit</label>
    </c-form-check>
</span>
<button cButton size="sm" style="float: right;" variant="outline" (click)="toggleSubPermission()">
    <svg alt="CoreUI Icons Speech" cIcon name="cilArrowCircleBottom" *ngIf="!subPermissionVisability"></svg>
    <svg alt="CoreUI Icons Speech" cIcon name="cilArrowCircleTop" *ngIf="subPermissionVisability"></svg>
</button>
<table class="table table-sm" *ngIf="subPermissionVisability">
    <tbody>
        <tr>
            <td>
                Group Information
            </td>
            <td>
                <c-form-check inline sizing="xl">
                    <input cFormCheckInput id="groupinfoh" name="groupinfo" type="radio"
                        (change)="changeGroupInfo($event)" />
                    <label cFormCheckLabel for="groupinfoh">Hidden</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="groupinfov" name="groupinfo" type="radio"
                        (change)="changeGroupInfo($event)" />
                    <label cFormCheckLabel for="groupinfov">View</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="groupinfovm" name="groupinfo" type="radio"
                        (change)="changeGroupInfo($event)" />
                    <label cFormCheckLabel for="groupinfovm">View & Edit</label>
                </c-form-check>
            </td>
        </tr>
        <tr>
            <td>
                Insurance Mapping
            </td>
            <td>
                <c-form-check inline sizing="xl">
                    <input cFormCheckInput id="insurancemappingh" name="insurancemapping" type="radio"
                        (change)="changeInsuranceMapper($event)" />
                    <label cFormCheckLabel for="insurancemappingh">Hidden</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="insurancemappingv" name="fee" type="radio"
                        (change)="changeInsuranceMapper($event)" />
                    <label cFormCheckLabel for="insurancemappingv">View</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="insurancemappingvm" name="fee" type="radio"
                        (change)="changeInsuranceMapper($event)" />
                    <label cFormCheckLabel for="insurancemappingvm">View & Edit</label>
                </c-form-check>
            </td>
        </tr>
        <tr>
            <td>
                Account Management
            </td>
            <td>
                <c-form-check inline sizing="xl">
                    <input cFormCheckInput id="accountmanagementh" name="accountmanagement" type="radio"
                        (change)="changeAccountMapper($event)" />
                    <label cFormCheckLabel for="accountmanagementh">Hidden</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="accountmanagementv" name="accountmanagement" type="radio"
                        (change)="changeAccountMapper($event)" />
                    <label cFormCheckLabel for="accountmanagementv">View</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="accountmanagementvm" name="modifier" type="radio"
                        (change)="changeAccountMapper($event)" />
                    <label cFormCheckLabel for="accountmanagementvm">View & Edit</label>
                </c-form-check>
            </td>
        </tr>
    </tbody>
</table>