<c-container [fluid]="true">
    <ngx-spinner></ngx-spinner>
    <c-row>
        <c-col xs="5">
            <c-input-group sizing="sm" class="mb-1">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">Add Modifier(s)</span>
                <input cFormControl maxlength="2" [(ngModel)]="modifier[0]"
                    [ngClass]="{'is-invalid': validModifiers !==undefined && validModifiers[0] ===false}" />
                <input cFormControl maxlength="2" [(ngModel)]="modifier[1]"
                    [ngClass]="{'is-invalid': validModifiers !==undefined && validModifiers[1] ===false}" />
                <input cFormControl maxlength="2" [(ngModel)]="modifier[2]"
                    [ngClass]="{'is-invalid': validModifiers !==undefined && validModifiers[2] ===false}" />
                <input cFormControl maxlength="2" [(ngModel)]="modifier[3]"
                    [ngClass]="{'is-invalid': validModifiers !==undefined && validModifiers[3] ===false}" />
            </c-input-group>
        </c-col>
        <c-col xs="7">
            <small *ngIf="validModifiers?.length > 0" class="form-text text-danger mb-3">
                modifier value with one digit is not allowed
            </small>
        </c-col>

        <c-col xs="5">
            <c-input-group class="mb-1" sizing="sm">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">When CPT is:</span>
                <input aria-describedby="basic-addon3" cFormControl id="basic-url" [(ngModel)]="modifierRule.cptCode"
                    cPopover="Leave blank to match all CPT codes" [cPopoverTrigger]="'hover'"
                    cPopoverPlacement="right" />
            </c-input-group>
        </c-col>
        <c-col xs="7">
            <!-- CPT Code description-->
        </c-col>
    </c-row>
    <c-row>
        
        <c-col xs="5" *ngIf="!editModifierRule.defaultRule">
            <c-input-group class="mb-1" sizing="sm">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">Insurance</span>
                <select [compareWith]="compareFn" cSelect id="feePlanType" [(ngModel)]="modifierRule.insurance"
                    *ngIf="insuranceCompanies">
                    <option value="null" disabled="true">Select Insurance Company</option>
                    <option *ngFor="let insurance of insuranceCompanies" [ngValue]="insurance">
                        {{insurance.name}}
                    </option>
                </select>
            </c-input-group>
        </c-col>
        <c-col xs="7">
            <small *ngIf="!valid" class="form-text text-danger mb-3">
                Select Insurance Company.
            </small>
        </c-col>
    </c-row>
    <c-row class="align-items-center mb-1">
        <c-col xs="5">
            <c-input-group class="mb-1" sizing="sm">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">Name</span>
                <input cFormControl sizing="sm" name="cptCode" [(ngModel)]="modifierRule.name">
            </c-input-group>
        </c-col>
    </c-row>

    <hr />
    <h3>How to Append Modifier</h3>
    <c-row>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckDefault"
                    [value]="'replace'" [(ngModel)]="modifierRule.appender">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Replace</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Remove any pre-enter modifiers and replace with new modifer</c-col>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckChecked"
                    [value]="'end'" [(ngModel)]="modifierRule.appender">
                <label class="form-check-label" for="flexCheckChecked">
                    <strong>Append at end</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Append new modifier to the end of any exsiting modifier</c-col>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckChecked"
                    [value]="'front'" [(ngModel)]="modifierRule.appender">
                <label class="form-check-label" for="flexCheckChecked">
                    <strong>Append at front</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Append new modifier to the front of any exsiting modifier</c-col>
    </c-row>
    <hr />
    <c-row>
        <div class="col-12 text-center">
            <button cButton class="me-1" variant="outline" style="width: 15%;" size="sm" (click)="create()">
                <span *ngIf="mode === 'create'">Create</span>
                <span *ngIf="mode ==='update'">Update</span>
            </button>
        </div>
    </c-row>
</c-container>