<c-container [fluid]="true">
    <c-row>
        <c-col xs="5">
            <c-input-group class="mb-3">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">Add Modifier(s)</span>
                <input aria-describedby="basic-addon3" cFormControl id="basic-url" />
            </c-input-group>
        </c-col>
        <c-col xs="7">
            <strong>(separate multiple with a'.' , i.e. GP.KX )</strong>
        </c-col>

        <c-col xs="5">
            <c-input-group class="mb-3">
                <span cInputGroupText id="basic-addon3" style="width: 30%;">When CPT is:</span>
                <input aria-describedby="basic-addon3" cFormControl id="basic-url" />
            </c-input-group>
        </c-col>
        <c-col xs="7">
            <strong>Leave blank to match all CPT codes</strong>
        </c-col>
    </c-row>

    <hr />
    <h3>How to Append Modifier</h3>
    <c-row>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Replace</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Remove any pre-enter modifiers and replace with new modifer</c-col>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    <strong>Append at end</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Append new modifier to the end of any exsiting modifier</c-col>
        <c-col xs="2">
            <div class="form-check">
                <input class="form-check-input" name="modifier" type="radio" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    <strong>Append at front</strong>
                </label>
            </div>
        </c-col>
        <c-col xs="10">Append new modifier to the front of any exsiting modifier</c-col>
    </c-row>
</c-container>