<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Insurance Companies</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col xs="12">
        <ng-container fluid="true">
            <c-smart-table [columns]="columns" [items]="(isuranceCompanyList$ | async) ?? []"
                [tableProps]="{ hover: true, striped: true, small:true  }" [tableBodyProps]="{ align: 'middle'}" header>
                <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                        <ng-container [ngSwitch]="columnName">
                            <ng-container *ngSwitchCase="'payerId'" class="py-2">
                                <span>{{item.payerId}}</span>
                                <span *ngIf="!item.payerId">
                                    <a [routerLink]="'/admin/tools/insurance/company/mapping'"> Assign to Payer
                                    </a></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'actions'" class="py-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button cButton variant="outline" size="sm" (click)="openSesstings(item)">
                                        <svg cIcon name="cilMenu"></svg>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{tdContent}}
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-template>
            </c-smart-table>
        </ng-container>

    </c-col>
</c-row>
<c-modal [visible]="isnsuranceSettingsVisible" scrollable size="xl" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Insurance Company Settings</h5>
        <button (click)="toggleInsuranceSettings()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-insurance-settings-modal *ngIf="isnsuranceSettingsVisible" [selectedInsuranceCompany] ="selectedInsuranceCompany"></app-insurance-settings-modal>
    </c-modal-body>
    <c-modal-footer>
        <button cButton color="primary" size="sm" variant="outline">Save changes</button>
    </c-modal-footer>
</c-modal>