<ngx-spinner></ngx-spinner>
<c-container fluid="true" *ngIf="patient">
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cilUser" title="cilUser" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Patient Information</h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilDisabled" title="cilDisabled"></svg>
                                </span>
                                <input cFormControl name="firstName" readonly [value]="patient.firstName"
                                    name="vpFirstName" />
                                <input cFormControl [value]="patient.middleName" name="vpmname" readonly />
                                <input cFormControl readonly [value]="patient.lastName" name="vplastname" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser" title="cilUser"></svg>
                                </span>
                                <input cFormControl readonly [value]="genders[patient.gender]" name="vpgeneder"
                                    readOnly />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilPeople" title="cilPeople"></svg>
                                </span>
                                <input cFormControl readonly [value]="maritalStatuses[patient.maritalStatus]"
                                    name="vpmaritalStatus" readOnly />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilPhone" title="cilPhone"></svg>
                                </span>
                                <select cSelect style="max-width: 12%;" #phonetype="ngModel" name="phonetype" disabled
                                    [(ngModel)]="patient.phoneType">
                                    <option [value]=null disabled selected>Select phoneType</option>
                                    <option *ngFor="let phoneTypevalue of phoneTypesKeys(phoneTypes)"
                                        [value]="phoneTypevalue">
                                        {{phoneTypes[phoneTypevalue]}}
                                    </option>
                                </select>
                                <input cFormControl size="sm" [value]="patient.phone" name="vpphone" readonly />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                                </span>
                                <input cFormControl placeholder="Email" readonly [value]="patient.email" id="vpemail" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-row>
                            <c-col class="mb-1">
                                <c-input-group sizing="sm">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilBirthdayCake" title="cilBirthdayCake"></svg>
                                    </span>
                                    <c-date-picker cFormControl size="sm" [(date)]="patientDOB" disabled
                                        required="true"></c-date-picker>
                                </c-input-group>
                            </c-col>
                        </c-row>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cilAddressBook" title="cilAddressBook" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Address </h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <c-input-group class="mb-3">
                                <select cFormControl cSelect sizing="sm" id="vpcountry" name="vpcountry"
                                    #country="ngModel" [(ngModel)]="patient.address.country" disabled>
                                    <option [value]="null" disabled selected>Select Country</option>
                                    <option *ngFor="let country of countries" [value]="country.name">
                                        {{country.name}}
                                    </option>
                                </select>
                            </c-input-group>
                        </c-col>
                        <c-col xs="12">
                            <input cFormControl placeholder="Street" sizing="sm" class="mb-1" id="vpstreet"
                                name="vpstreet" [value]="patient.address.first" readonly />
                        </c-col>
                        <c-col xs="12">
                            <input cFormControl sizing="sm" class="mb-1" name="vpCity" [value]="patient.address.city"
                                readonly />
                        </c-col>
                        <c-col xs="12">
                            <select cFormControl cSelect sizing="sm" id="vpstate" name="vpstate" #state="ngModel"
                                disabled class="mb-1" [(ngModel)]="patient.address.state">
                                <option *ngFor="let state of states" [value]="state">
                                    {{state}}
                                </option>
                            </select>
                        </c-col>
                        <c-col xs="12">
                            <input  cFormControl  [value]="patient.address.zipCode"
                                readonly sizing="sm" id="vpzipCode" name="vpzipCode" class="mb-1" />
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cil-money" title="cil-money" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Billing Information</h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12" class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    SSN
                                </span>
                                <input class="h-auto" aria-label="SSN" cFormControl placeholder="SSN" sizing="sm"
                                    readonly [value]="patient.ssn" />
                            </c-input-group>
                        </c-col>
                        <c-col xs="12" class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    External ID
                                </span>
                                <input class="h-auto" cFormControl placeholder="External ID" sizing="sm" readonly
                                    [value]="patient.externalId" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                Referring-Provider
                            </span>
                            <input cFormControl [value]="patient.referringProvider.firstName" name="vpproviderfirstname"
                                id="vpproviderfirstname" />
                            <input cFormControl [value]="patient.referringProvider.lastName " name="vpproviderlastname"
                                id="vpproviderlastname" />
                            <input cFormControl [value]="patient.referringProvider.npi " id="vpprovidernpi" />
                        </c-input-group>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cilInstitution" title="cilInstitution" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Insurances</h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-col xs="12">
                        <div class="card border mb-2" *ngFor="let insurance of patient.patientInsurances;let i=index;">
                            <div class="card-body" [ngClass]="{'text-bg-light': insurance.isArchived}">
                                <h4><strong>{{insurance.patientInsurancePolicy.responsability }}</strong></h4>
                                <h6>{{insurance.patientInsurancePolicy.planType}}</h6>
                                <h6>Primary ID : {{insurance.patientInsurancePolicy.primaryId}}</h6>
                            </div>
                        </div>
                    </c-col>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cilWheelchair" title="cilWheelchair" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Cases</h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <div class="card border mb-2" *ngFor="let case of patient.cases;let i=index;">
                                <div class="card-body">
                                    <h4><strong>{{case.title }}</strong></h4>
                                    <h6>ICD-10 Codes</h6>
                                    <ul *ngFor="let code of case.caseDiagnosis">
                                        <li style="list-style-type: none">
                                            {{code.diagnosisCode}} - {{code.diagnosisDescription}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <div style="float: left;">
                        <svg cIcon name="cilCalendar" title="cilCalendar" size="xxl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <h3>Sessions</h3>
                        </c-col>
                    </c-row>
                </c-card-header>
                <c-card-body>
                    <c-col xs="12">
                        <c-nav variant="tabs">
                            <c-nav-item *ngFor="let nav of panes; index as i; first as isFirst; last as isLast">
                                <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
                                    {{nav.name}}
                                </a>
                            </c-nav-item>
                        </c-nav>
                        <c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)"
                            [activeTabPaneIdx]="activePane">
                            <c-tab-pane *ngFor="let pane of panes; index as i;" class="p-3">
                                <div>
                                    <h5>Provider</h5>
                                    <strong>Name</strong> : {{pane.provider.doctorLastName}} ,
                                    {{pane.provider.doctorFirstName}} <br />
                                    <strong>NPI</strong> : {{pane.provider.doctorNPI}}
                                </div>
                                <br />
                                <div>
                                    <h5>Date Of Service</h5>
                                    {{pane.dos}} <br />
                                    <strong>start at:</strong> {{pane.startTime}} <br />
                                    <strong>end at:</strong> {{pane.endTime}}
                                </div>
                                <br />
                                <div>
                                    <h5>Place Of Code</h5>
                                    {{placeOfCodes[pane.PlaceOfCode]}} <br />
                                </div>
                                <br />
                                <div>
                                    <h5>Service Lines</h5>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ServiceCode</th>
                                                <th>Modifier</th>
                                                <th>Unit</th>
                                                <th>charge</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let serviceline of pane.serviceLines;let i = index;">
                                                <td>{{i}}</td>
                                                <td>
                                                    {{serviceline.cptCode.serviceCode}}
                                                </td>
                                                <td>
                                                    {{serviceline.cptCode.modifier}}
                                                </td>
                                                <td>
                                                    {{serviceline.cptCode.unit}}
                                                </td>
                                                <td>
                                                    {{serviceline.cptCode.charge}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </c-tab-pane>
                        </c-tab-content>
                    </c-col>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>