<ngx-spinner></ngx-spinner>
<c-container fluid="true">
  <ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columns]="batchType === 'bc'? columnsBC:columnsBI" #clientPayments
      [items]="(serviceLinePayments$ | async) ?? []" activePage="1" [itemsPerPage]="props.itemsPerPage"
      (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20,30,40,50]"
      [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true , small:true }"
      [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
      [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
      (sorterValueChange)="handleSorterValueChange($event)" header>
      <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
        <td>
          <ng-container [ngSwitch]="columnName">
            <ng-container *ngSwitchCase="'id'" class="py-2">
              {{item.serviceLineId}}
            </ng-container>
            <ng-container *ngSwitchCase="'dos'" class="py-2">
              {{item.dos | date:'MM/dd/YYYY' }}
            </ng-container>
            <ng-container *ngSwitchCase="'billedValue'" class="py-2">
              {{item.billedValue |currency }}
            </ng-container>
            <ng-container *ngSwitchCase="'payment'" class="py-2 ">
              <c-input-group sizing="sm" dispaly-input [componentRole]="componentRole">
                <span cInputGroupText id="payment">&#36;</span>
                <input cFormControl #pymentAmt aria-describedby="payment" class="w-10" type="number"
                  [(ngModel)]="item.payment" (focusout)="onFocusOutPaymnet(item)">
              </c-input-group>
            </ng-container>
            <ng-container *ngSwitchCase="'adjust'" class="py-2">
              <c-input-group sizing="sm" dispaly-input [componentRole]="componentRole">
                <span cInputGroupText id="adjust">&#36;</span>
                <input cFormControl #adjustAmt aria-describedby="adjust" class="w-10" type="number"
                  (focusout)="onFocusOutAdjust(item)" [(ngModel)]="item.adjust">
              </c-input-group>
            </ng-container>
            <ng-container *ngSwitchCase="'balance'" class="py-2">
              <label>{{item.balance | currency}}</label>
            </ng-container>
            <span *ngIf="batchType ==='bi'">
              <ng-container *ngSwitchCase="'serviceLinePaymentAction'" class="py-2">
                <select cSelect sizing="sm" class="w-50" [(ngModel)]="item.serviceLinePaymentAction" [disabled]="(item.payment === undefined || item.payment===null)
                && (item.adjust === undefined || item.adjust === null)" dispaly-input [componentRole]="componentRole">
                  <option value=null selected disabled>Select</option>
                  <option value="Resubmit"> Resubmit</option>
                  <option value="Close">Close Session</option>
                  <option value="Current_Status">Keep current status</option>
                </select>
              </ng-container>
            </span>
            <ng-container *ngSwitchDefault>
              {{tdContent}}
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
      (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
  </ng-container>
</c-container>