<ngx-spinner></ngx-spinner>
<form cForm #providerCreateForm="ngForm" readonly-form [componentRole]="componentRole">
    <c-row>
        <c-col class="mb-1">
            <c-input-group sizing="sm">
                <span cInputGroupText style="width: 14%;">
                    Auth Number
                </span>
                <input cFormControl name="authNumber" required size="sm" #authNumber="ngModel"
                    [(ngModel)]="patientAuth.authNumber" />
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-1">
            <c-input-group sizing="sm">
                <span cInputGroupText style="width: 14%;">
                    Ins. Company
                </span>
                <c-col sx="12">
                    <ng-autocomplete [data]="insCpmanyName" [searchKeyword]="" id="inCompanyName" name="inCompanyName"
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        (selected)='pickInsCompany($event)' [(ngModel)]="patientAuth.insCompany" disable-auto-complete
                        [componentRole]="componentRole">
                    </ng-autocomplete>
                </c-col>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-1">
            <c-input-group sizing="sm">
                <span cInputGroupText style="width: 14%;">
                    Service Code
                </span>
                <input cFormControl name="serviceCode" required #serviceCode="ngModel"
                    [(ngModel)]="patientAuth.serviceCode" />
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-1">
            <c-date-range-picker [placeholder]="['Start Date', 'Expire Date']" size="sm" disable-date-range-picker
                [componentRole]="componentRole" [(startDate)]="patientAuth.startDate"
                [(endDate)]="patientAuth.expireDate"></c-date-range-picker>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-1">
            <c-input-group sizing="sm">
                <span cInputGroupText style="width: 14%;">
                    Visit
                </span>
                <input cFormControl name="visit" required #visit="ngModel" [(ngModel)]="patientAuth.visit"
                    readonly-input [componentRole]="componentRole" type="number"
                    (focusout)="initPatientAuthRemainig()" />
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-1">
            <c-input-group sizing="sm">
                <span cInputGroupText style="width: 14%;">
                    Remaining
                </span>
                <input cFormControl name="remaining" required #remaining="ngModel" [(ngModel)]="patientAuth.remaining"
                    readonly-input [componentRole]="componentRole" type="number" />
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <div class="col text-center">
            <span *ngIf="mode ==='create-edit-patient-profile' || mode ==='create'">
                <button cButton color="primary" variant="outline" style="width: 15%;" (click)="create()" dispaly-input
                    [componentRole]="componentRole">Create</button>
            </span>
            <span *ngIf="mode ==='edit-edit-patient-profile' || mode ==='update'">
                <button cButton color="primary" variant="outline" style="width: 15%;" (click)="update()" dispaly-input
                    [componentRole]="componentRole">Update</button>
            </span>
        </div>
    </c-row>
</form>