<c-progress class="mb-3">
    <c-progress-bar animated #progressBar [value]="progressValue">{{progressValue}}%</c-progress-bar>
</c-progress>
<c-row class="justify-content-center">
    <c-col xs="12">
        <c-card *ngIf="counter === 1 " class="mb-3 ustify-content-center">
            <c-card-header>
                <h3>{{cards[0].name}}</h3>
            </c-card-header>
            <c-card-body>
                SELECT SESSION
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="next('select')" size="sm" color="primary" variant="outline" class="auto me-1">
                    next
                </button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="12">
        <c-card *ngIf="counter === 2 " class="mb-3">

            <c-card-header>
                <h3>{{cards[1].name}}</h3>
            </c-card-header>
            <c-card-body>
                CONFIRAMTION
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline" class="auto me-1">
                    Back
                </button>
                <button cButton (click)="next('confirm')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>