<ngx-spinner></ngx-spinner>
<c-container [fluid]="true" class="mt-3">
    <c-row>
        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Authorization Watch</strong>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <div style="float: right;" class="mb-2">
                                <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                                    <button cButton color="primary" variant="outline" (click)="creatAuth()">Add
                                        Authorization</button>
                                    <c-dropdown variant="btn-group">
                                        <button cButton cDropdownToggle>
                                            Actions
                                        </button>
                                        <ul cDropdownMenu variant="outline">
                                            <li><a cDropdownItem [routerLink]="[]">View Expired</a></li>
                                            <li cDropdownDivider></li>
                                            <li><a cDropdownItem [routerLink]="[]">Turn Off</a></li>
                                        </ul>
                                    </c-dropdown>
                                </c-button-group>
                            </div>
                        </c-col>
                        <c-col xs="12">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <c-row>
                                        <c-col xs="6">
                                            0000
                                        </c-col>
                                        <c-col xs="6">
                                            Remaining Visits : <strong>6</strong> of <strong>10</strong>
                                        </c-col>
                                    </c-row>
                                    Service Code : All <br>
                                    <c-col xs="6">
                                        <c-date-range-picker size="sm" disabled="true"
                                            [placeholder]="['Starts', 'Expires']" [(endDate)]="endDate"
                                            [(startDate)]="startDate" cTooltipPlacement="top"
                                            cTooltip="Starts to Expires date"></c-date-range-picker>
                                    </c-col>
                                </div>
                            </div>
                        </c-col>
                        <c-col xs="12">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <c-row>
                                        <c-col xs="6">
                                            0001
                                        </c-col>
                                        <c-col xs="6">
                                            Remaining Visits : <strong>1</strong> of <strong>10</strong>
                                        </c-col>
                                    </c-row>
                                    Service Code : All <br>
                                    <c-col xs="6">
                                        <c-date-range-picker size="sm" disabled="true"
                                            [placeholder]="['Starts', 'Expires']" [(endDate)]="endDate"
                                            [(startDate)]="startDate" cTooltipPlacement="top"
                                            cTooltip="Starts to Expires date"></c-date-range-picker>
                                    </c-col>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>
<c-modal id="createAuth" [visible]="createAutVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Add Authorization</h5>
        <button (click)="toggleCreateAuthVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <create-auth *ngIf="createAutVisibility" (changeVisibility)="changeVisibility($event)"
            [patientInsurances]="patient.patientInsurances"></create-auth>
    </c-modal-body>
</c-modal>