<ngx-spinner></ngx-spinner>
<c-container fluid="true">
  <c-row>
    <c-col xs="12">
      <div style="float: right;" class="mb-3">
        <button cButton color="primary" variant="outline" (click)="executeAction('create_invoice')"
          [disabled]='selectedSessionServiceCodeLine?.length === 0 || selectedSessionServiceCodeLine === undefined'>
          Create Invoice
        </button>
      </div>
    </c-col>
    <!--Search -->
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Patient Sessions Search</strong>
        </c-card-header>
        <c-card-body>
          <p class="text-medium-emphasis small">
            The Abiltiy to filter the patient sessions using rendering provider,
            and date range
          </p>
          <form cForm>
            <c-row>
              <c-col xs="12" class="mb-2">
                <c-input-group sizing="sm">
                  <input cFormControl placeholder="Provider" sizing="sm" [(ngModel)]="filterModel.provider"
                    name="filerProvider" />
                  <button cButton size="sm" variant="outline" (click)="clearFilter('provider')">
                    <svg cIcon name="cilFilter" title="cilFilterX"></svg>
                  </button>
                </c-input-group>
              </c-col>
              <c-col xs="12" class="mb-2">
                <c-input-group sizing="sm">
                  <input cFormControl placeholder="Session Case" sizing="sm" [(ngModel)]="filterModel.sessionCase"
                    name="filterSessionCase" />
                  <button cButton size="sm" variant="outline" (click)="clearFilter('case')">
                    <svg cIcon name="cilFilter" title="cilFilterX"></svg>
                  </button>
                </c-input-group>

              </c-col>
              <c-col xs="12" class="mb-2">
                <c-date-range-picker [placeholder]="['Start', 'End']" [(startDate)]="filterModel.searchStartDate"
                  [(endDate)]="filterModel.searchEndDate" [ranges]="customRanges"></c-date-range-picker>
              </c-col>
              <c-col xs="12" class="text-center">
                <button cButton class="me-1" color="primary" style="width: 15%;" (click)="search()">
                  Search
                </button>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <button class="btn btn-link" (click)="executeAction('edit_patient')" *ngIf="client"><strong>{{client?.lastName
              + ',' + client?.firstName}}</strong></button>
        </c-card-header>
        <c-card-body>
          <ng-container *ngIf="props$ | async as props" fluid="true">
            <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns"
              [items]="(sessionServiceCodeLines$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
              (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
              [itemsPerPageSelect]="true" [columnFilterValue]="props.columnFilterValue?? []"
              [sorterValue]="props.sorterValue" [tableProps]="{ hover: true, striped: true, small:true }"
              [tableBodyProps]="{ align: 'middle' }" (sorterValueChange)="handleSorterValueChange($event)" header
              selectable (selectedItemsChange)="onSelectedServiceCode($event)">
              <ng-template cTemplateId="tableDetails" let-item="item">
              </ng-template>
              <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                let-tdContent="tdContent">
                <td>
                  <ng-container [ngSwitch]="columnName">
                    <ng-container *ngSwitchCase="'actions'" class="py-2">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button cButton variant="outline" class="btn btn-link" size="sm"
                          (click)="executeAction('edit_session',item)">
                          Edit session
                        </button>
                        <button cButton variant="outline" class="btn btn-link" size="sm"
                        (click)="executeAction('auth',item)">
                          View authorization
                        </button>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'place'" class="py-2">
                      <button class="btn btn-link"
                        (click)="executeAction('edit_session_item',item,'place')">{{tdContent}}</button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'cpt'" class="py-2">
                      <button class="btn btn-link"
                        (click)="executeAction('edit_session_item',item,'cpt')">{{tdContent}}</button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'unit'" class="py-2">
                      <button class="btn btn-link"
                        (click)="executeAction('edit_session_item',item,'unit')">{{tdContent}}</button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'charge'" class="py-2">
                      <button class="btn btn-link"
                        (click)="executeAction('edit_session_item',item,'charge')">{{tdContent}}</button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{tdContent}}
                    </ng-container>
                    <ng-container *ngSwitchCase="'correct'">
                      <span *ngIf="item.isCorrect">
                        <c-badge color="warning">
                          corrected-void
                        </c-badge>
                      </span>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </c-smart-table>
            <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
              (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
          </ng-container>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
<!-- Create Invocie-->
<c-modal [visible]="createinvoiceVisibility" scrollable backdrop="static" size="xl">
  <c-modal-header>
    <h5 cModalTitle>Invoice Creation</h5>
    <button (click)="toggleModal('invoice_create')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-invoice-creation [patientInsurances]="client?.patientInsurances" *ngIf="createinvoiceVisibility"
      [selectedSessionServiceLine]="selectedSessionServiceCodeLine" [client]="client"
      (changeVisibility)="changeVisibility($event)"></app-invoice-creation>
  </c-modal-body>
</c-modal>
<!-- Edit Session-->
<c-modal id="editSessioninvoice" [visible]="editSessionVisibility" backdrop="static" size="xl">
  <c-modal-header>
    <h5 cModalTitle>Edit Session</h5>
    <button (click)="toggleModal('session')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-patient-session-edit #patientSessionEditComponent *ngIf="editSessionVisibility"
      (changeVisibility)="changeVisibility($event)"></app-patient-session-edit>
  </c-modal-body>
</c-modal>

<!-- Edit Session Item-->
<c-modal id="editSessioniteminvoice" [visible]="editSessionItemVisibility" backdrop="static" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Edit </h5>
    <button (click)="toggleModal('session_item')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <session-item-edit *ngIf="editSessionItemVisibility" [serviceCode]="sessionServiceCodeLine.serviceCode"
      [itemType]="itemType" (changeVisibility)="changeVisibility($event)"> </session-item-edit>
  </c-modal-body>
</c-modal>

<c-modal id="editPatientProfile" [visible]="editPatientProfileVisibility" size="xl" backdrop="static">
  <c-modal-header>
    <h4>Update Profile</h4>
    <button (click)="toggleModal('invoice_create')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <patient-edit-profile [patient]="client" *ngIf="editPatientProfileVisibility"
      (changeEditPorfileVisibility)="changeVisibility($event)"></patient-edit-profile>
  </c-modal-body>
</c-modal>

<c-modal id="vieAuth" [visible]="viewAuthorizationVisibility" size="xl" backdrop="static">
  <c-modal-header>
    <h4>View Authorization</h4>
    <button (click)="toggleModal('auth')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    
  </c-modal-body>
</c-modal>