<c-container [fluid]="true" class="mt-3">
    <div class="card border-dark mb-2" *ngFor="let patientInsurance of filterpatientInsurances; index as i;">
        <div class="card-body">
            <div style="float: right;">
                <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                    <c-dropdown variant="btn-group">
                        <button cButton cDropdownToggle variant="outline">
                            Actions
                        </button>
                        <ul cDropdownMenu variant="outline">
                            <li><a cDropdownItem><svg cIcon name="cilViewStream" class="text-info"></svg>
                                    Preview</a></li>
                            <li cDropdownDivider></li>
                            <li><a cDropdownItem (click)="create(patientInsurance)"><svg cIcon name="cibAdobeAcrobatReader" class="text-danger"></svg>
                                    Print</a></li>
                            <li><a cDropdownItem><svg cIcon name="cilSend" class="text-success"></svg>
                                    Electronic Submission</a>
                            </li>
                        </ul>
                    </c-dropdown>
                </c-button-group>
            </div>
            <div>
                <h3><strong>{{patientInsurance.patientInsurancePolicy.payerName}} </strong></h3>
                <h4>{{patientInsurance.patientInsurancePolicy.responsability}}</h4>
                Primary ID : {{patientInsurance.patientInsurancePolicy.primaryId}} <br>
                Payer ID : {{patientInsurance.patientInsurancePolicy.payerId}} <br>
                Clearinghouse : Availity
            </div>
            <div class="col-6 border border-light mt-3 me-3 bg-light">
                <h5>Additional Settings</h5>
                <c-row>
                    <c-col xs="12" class="mt-1 mx-1">
                        <c-form-check inline>
                            <input cFormCheckInput id="gd{{i}}_dateperservice" type="checkbox" />
                            <label cFormCheckLabel for="gd{{i}}_dateperservice">
                                One date of service per claim
                            </label>
                        </c-form-check>
                    </c-col>
                    <c-col xs="6" class="mb-1 mx-1">
                        <label for="gd{{i}}_drc" class="control-label">
                            Delayed Reason Code (EDI only)
                        </label>
                        <select cSelect id="gd{{i}}_drc" sizing="sm" style="height: auto;line-height: 14px;">
                            <option value="1">none</option>
                            <option value="2">option-a</option>
                            <option value="3">option-b</option>
                        </select>
                    </c-col>
                </c-row>
            </div>

        </div>
    </div>
</c-container>