<c-container [fluid]="true" class="mt-3">
    <c-row>
        <c-col xs="12" class="mb-3">
            <c-card>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <div>
                                        <strong>Primary </strong> <br>
                                        UnitedHealthCare Coomunity Plan <br>
                                        Primary Id : 393 <br>
                                    </div>

                                </div>
                            </div>
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <div>
                                        <strong>Primary </strong> <br>
                                        UnitedHealthCare Coomunity Plan <br>
                                        Primary Id : 393 <br>
                                    </div>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>