<c-row class="n5">
    <c-col xs="1">
        <c-button-group aria-label="Basic example" role="group" size="sm" [vertical]="true">
            <button cButton color="primary" variant="outline" (click)="toggleActionsModal()">
                <svg cIcon name="cilSettings"></svg>
            </button>
            <button cButton color="danger" variant="outline">
                <svg cIcon name="cibAdobeAcrobatReader"></svg>
            </button>
        </c-button-group>
    </c-col>
    <c-col xs="9">
        <div class="fs-5" style="margin-left: -2%;"><strong>Submission ID : </strong> {{item.submissionId}}</div>
        <div class="fs-6"><strong>To : </strong> {{item.insuranceCompany}}</div>
        <div class="fs-6" style="margin-left: -1%;"><strong>Submit Date : </strong> {{item.submitDate |
            date:'MM/dd/yyy'}}</div>
        <div class="fs-6" style="margin-left: -1%;"><strong>Client : </strong>{{item.client}}</div>
        <div class="fs-6" style="margin-left: -1%;"><strong>Provider : </strong>{{item.provider}}</div>
    </c-col>
    <c-col xs="2">
        <div class="overflow-auto" style="max-width: 260px; max-height: 100px;">
            <ul cListGroup>
                <li cListGroupItem [active]="true" style="line-height:30%">
                    <div class="fs-6">Service Dates</div>
                </li>
                <button *ngFor="let session of item.sessionCounts" cListGroupItem
                    class="d-flex justify-content-between align-items-center" (click)="openSession(session.sessionId)">
                    {{session.dateOfService |date :'MM/dd/YYYY'}}
                    <c-badge color="info" shape="rounded-pill">{{session.serviceLines}}</c-badge>
                </button>
            </ul>
        </div>
    </c-col>
</c-row>
<c-modal id="showActions" [visible]="showActionVisibility" size="lg">
    <c-modal-header>
        <h2>Actions</h2>
    </c-modal-header>
    <c-modal-body>
        <show-actions [submissionType]="item.submissionType" (changeVisibility)="changeVisibility($event)"></show-actions>
    </c-modal-body>
</c-modal>
<c-modal id="showCorrectClaimActions" [visible]="showCorrectClaimActionVisibility" size="xl" backdrop="static">
    <c-modal-header>
        <h2>Correct Claim</h2>
        <button (click)="close('correct_claim')" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <correct-claim-action *ngIf="showCorrectClaimActionVisibility" [sessionCounts]="item.sessionCounts"></correct-claim-action>
    </c-modal-body>
</c-modal>