<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="10" class="mb-2">
        <h1>Fee Schedule</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col xs="12">
        <div style="float: right;">
            <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                <c-dropdown variant="btn-group">
                    <button cButton cDropdownToggle variant="outline">
                        Actions
                    </button>
                    <ul cDropdownMenu>
                        <li><a cDropdownItem [routerLink]="[]">Creat Fee Schedule</a></li>
                        <li cDropdownDivider></li>
                        <li><a cDropdownItem [routerLink]="[]">Import Fee Schedule</a></li>
                        <li><a cDropdownItem [routerLink]="[]">Export Fee Schedule</a></li>
                    </ul>
                </c-dropdown>
            </c-button-group>
        </div>
    </c-col>
    <c-col xs="12">
        <table cTable *ngIf="feeSchedules">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Active</th>
                    <th scope="col" style="width: 10%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fee of feeSchedules;index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>
                        <c-badge *ngIf="fee.defaultFee" color="primary" shape="rounded-pill">Active</c-badge>
                        <c-badge *ngIf="!fee.defaultFee" color="info" shape="rounded-pill">In-Active</c-badge>
                    </td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group" size="sm">
                            <button cButton variant="outline" (click)="showLines(fee.id)" size="sm">
                                <svg cIcon name="cilFindInPage"></svg>
                            </button>
                            <button cButton variant="outline" (click)="edit()" size="sm">
                                <svg cIcon name="cilPen"></svg>
                            </button>
                            <button cButton variant="outline" (click)="delete(fee.id)" size="sm">
                                <svg cIcon name="cilTrash"></svg>
                            </button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-col>
</c-row>
<c-modal [visible]="feeLinesVisible" scrollable size="xl" backdrop="static">
    <c-modal-header>
        <h2 cModalTitle>Fee Schedule Details</h2>
        <button (click)="togglefeeLinesVisible()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <find-lines [feeScheduleId]="selectedFeeSceduleId" *ngIf="feeLinesVisible"></find-lines>
    </c-modal-body>
</c-modal>