<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="10" class="mb-2">
        <h1>Fee Schedule</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col xs="12">
        <div style="float: right;" >
            <c-button-group aria-label="Button outlined group with nested dropdown" role="group" dispaly-input [componentRole]="componentRole">
                <c-dropdown variant="btn-group">
                    <button cButton cDropdownToggle variant="outline">
                        Actions 
                    </button>
                    <ul cDropdownMenu>
                        <li><a cDropdownItem (click)="createFeeSchdule()" *ngIf="hasDefaultFee">Create Fee Schedule</a></li>
                        <li><a cDropdownItem (click)="createFeeSchdule()" *ngIf="!hasDefaultFee">Create
                                Default Fee Schedule</a></li>
                        <li cDropdownDivider></li>
                        <li><a cDropdownItem [routerLink]="[]">Import Fee Schedule</a></li>
                        <li><a cDropdownItem [routerLink]="[]">Export Fee Schedule</a></li>
                    </ul>
                </c-dropdown>
            </c-button-group>
        </div>
    </c-col>
    <c-col xs="12">
        <table cTable *ngIf="feeSchedules">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Active</th>
                    <th scope="col" style="width: 10%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fee of feeSchedules;index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{fee.name}}</td>
                    <td>
                        <!-- <c-badge *ngIf="fee.defaultFee" color="primary" shape="rounded-pill">Active</c-badge>
                        <c-badge *ngIf="!fee.defaultFee" color="info" shape="rounded-pill">In-Active</c-badge> -->
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" [(ngModel)]="fee.active" (change)="checkValue(fee)" disable-input [componentRole]="componentRole"/>
                        </c-form-check>
                    </td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group" size="sm">
                            <button cButton variant="outline" (click)="editFeeSchdule(fee.id)" size="sm" >
                                <svg cIcon name="cilPen"></svg>
                            </button>
                            <button cButton variant="outline" (click)="delete(fee.id)" size="sm"
                                [disabled]="fee.defaultFee" dispaly-input [componentRole]="componentRole">
                                <svg cIcon name="cilTrash"></svg>
                            </button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-col>
</c-row>
<c-modal [visible]="addFeeScheduleVisible" scrollable size="xl" backdrop="static">
    <c-modal-header>
        <h2 cModalTitle>Create FeeSchedule</h2>
        <button (click)="toggleFeeScheduleVisible()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <create-fee-schedule *ngIf="addFeeScheduleVisible" [defaultFeeSchedule]="hasDefaultFee"
            (changeVisibility)="changeVisibility($event)"></create-fee-schedule>
    </c-modal-body>
</c-modal>
<c-modal [visible]="editFeeScheduleVisible" scrollable size="xl" backdrop="static">
    <c-modal-header>
        <h2 cModalTitle>Edit FeeSchedule</h2>
        <button (click)="toggleEditFeeScheduleVisible()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <create-fee-schedule *ngIf="editFeeScheduleVisible" (changeVisibility)="changeVisibility($event)"
            [editfeeSchedules]="selectedFeeScedule"></create-fee-schedule>
    </c-modal-body>
</c-modal>