<ngx-spinner></ngx-spinner>
<c-container fluid>
    <form cForm #referringProviderCreateForm="ngForm" (ngSubmit)="create()">
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1" style="width: 25%;">NPI</span>
                    <input placeholder="NPI Name" cFormControl [formControl]="npiReferringProviderCtrl"
                        id="referringProvidernpi" sizing="sm" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <small *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="form-text text-danger">
                    First Name is required
                </small>
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1" style="width: 25%;">FirstName</span>
                    <input placeholder="First Name" cFormControl id="fname" name="fname" sizing="sm" required
                        [ngClass]="{'is-invalid': fname.invalid && (fname.dirty || fname.touched)}" #fname="ngModel"
                        [(ngModel)]="referringProvider.firstName" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <small *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="form-text text-danger">
                    Last Name is required
                </small>
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1" style="width: 25%;">MiddleName</span>
                    <input placeholder="Last Name" cFormControl id="lname" name="lname" sizing="sm" required
                        [ngClass]="{'is-invalid': lname.invalid && (lname.dirty || lname.touched)}" #lname="ngModel"
                        [(ngModel)]="referringProvider.lastName" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <small *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="form-text text-danger">
                    Profession Abbr is required
                </small>
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1" style="width: 25%;">Profession Abbr</span>
                    <input placeholder="profession Abbr" cFormControl id="professionAbbr" name="professionAbbr"
                        sizing="sm" required
                        [ngClass]="{'is-invalid': professionAbbr.invalid && (professionAbbr.dirty || professionAbbr.touched)}"
                        #professionAbbr="ngModel" [(ngModel)]="referringProvider.professionAbbr" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col mb-3">
                <select cSelect sizing="sm" #IdQualifier="ngModel" name="IdQualifier" required
                    [(ngModel)]="referringProvider.referringProviderIdQualifier">
                    <option [value]=null disabled selected>Select Id Type</option>
                    <option *ngFor="let qualifier of idQualifierKeys(idQualifiers)" [value]="idQualifiers[qualifier]">
                        {{qualifier}}
                    </option>
                </select>
            </c-col>
        </c-row>
        <c-row>
            <c-col class="col mb-3">
                <small *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="form-text text-danger">
                    Referring Provider Id is required
                </small>
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1" style="width: 15%;">ID</span>
                    <input placeholder="ID" cFormControl id="refid" name="refid" sizing="sm" required
                        [ngClass]="{'is-invalid': refid.invalid && (refid.dirty || refid.touched)}" #refid="ngModel"
                        [(ngModel)]="referringProvider.referringProviderId" />
                </c-input-group>
            </c-col>
        </c-row>
        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-center">
            <button cButton type="submit" [disabled]="!referringProviderCreateForm.valid">Create</button>
        </div>
    </form>
</c-container>