<c-form-check inline sizing="xl">
    <input cFormCheckInput id="filingh" name="filing" type="radio" (change)="changeFilingPermission($event)" />
    <label cFormCheckLabel for="filingh">Hidden</label>
</c-form-check>
<c-form-check inline>
    <input cFormCheckInput id="filingv" name="filing" type="radio" (change)="changeFilingPermission($event)">
    <label cFormCheckLabel for="filingv">View</label>
</c-form-check>
<c-form-check inline>
    <input cFormCheckInput id="filingvm" name="filing" type="radio" (change)="changeFilingPermission($event)" />
    <label cFormCheckLabel for="filingvm">View & Edit</label>
</c-form-check>