<ngx-spinner></ngx-spinner>
<c-card>
  <c-card-body>
    <c-row>
      <c-col xs="8" class="mb-2">
        <h2>Pending Insurance</h2>
      </c-col>
    </c-row>
    <ng-container *ngIf="props$ | async as props" fluid="true">
      <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" #pending
        [items]="(pendingClientBalance$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
        (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20,25,30,40,45,50]"
        [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, small:true }"
        [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
        [tableBodyProps]="{ align: 'middle' }" (sorterValueChange)="handleSorterValueChange($event)" selectable
        (selectedItemsChange)="onselect($event)" header>
        <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
          <td>
            <ng-container [ngSwitch]="columnName">
              <ng-container *ngSwitchCase="'dos'" class="py-2">
                {{tdContent| date:'MM/dd/YYYY'}}
              </ng-container>
              <ng-container *ngSwitchCase="'actions'" class="py-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <!-- <button cButton variant="outline" size="sm">
                    <svg cIcon name="cilPen"></svg>
                  </button> -->
                  <c-dropdown variant="btn-group">
                    <button cButton variant="outline" size="sm" (click)="openEnterSession(item)">
                      <svg cIcon name="cilDollar"></svg>
                    </button>
                  </c-dropdown>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{tdContent}}
              </ng-container>
            </ng-container>
          </td>
        </ng-template>
      </c-smart-table>
      <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
        (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
    </ng-container>
  </c-card-body>
</c-card>
<c-modal [visible]="sessionVisible" scrollable size="xl" backdrop="static" id="openSession">
  <c-modal-header>
    <h2 cModalTitle>Patient Session</h2>
    <button (click)="toggleOpenSessionVisible()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    Open Session
  </c-modal-body>
</c-modal>

<c-modal [visible]="enterPaymentVisible" scrollable size="xl" backdrop="static" id="openEnterPaymenr">
  <c-modal-header>
    <h2 cModalTitle>Session Enter Payment</h2>
    <button (click)="toggleOpenEnterPaymentVisible()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <enter-payment *ngIf="enterPaymentVisible" [session]="selectedSession"
    (changeVisibility)="changeEnterPaymentVisibility($event)"></enter-payment>
  </c-modal-body>
</c-modal>