<c-container [fluid]="true" class="mt-3">
    <c-row>
        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Account & Identifying Number</strong>
                </c-card-header>
                <c-card-body>
                    <form cForm>
                        <c-row>
                            <c-col xs="12" class="mb-1">
                                <input class="h-auto" aria-label="SSN" cFormControl placeholder="SSN" />
                            </c-col>
                            <c-col xs="12" class="mb-1">
                                <input class="h-auto" aria-label="External ID" cFormControl placeholder="External ID" />
                            </c-col>
                        </c-row>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>

        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Referring Provider</strong>
                </c-card-header>
                <c-card-body>
                    <c-row [gutter]="0">
                        <c-col xs="4">
                            <ng-autocomplete [data]="referringFirstNameList" [searchKeyword]="" id="patientname"
                                name="patientname" placeholder="FirstName" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate" (selected)='pickFirstName($event)'
                                (inputCleared)="unpickFirstName()" [(ngModel)]="selectedFirstName">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </c-col>
                        <c-col xs="4">
                            <ng-autocomplete [data]="referringLastNameList" [searchKeyword]="" id="LastName"
                                name="LastName" placeholder="LastName" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate" (selected)='pickLastName($event)'
                                (inputCleared)="unpickLastName()" [(ngModel)]="selectedLastName">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </c-col>
                        <c-col xs="4">
                            <ng-autocomplete [data]="referringNPIList" [searchKeyword]="" id="NPI" name="NPI"
                                placeholder="NPI" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                [notFoundTemplate]="notFoundTemplate" (selected)='pickNPI($event)'
                                (inputCleared)="unpickNPI()" [(ngModel)]="selectedNPI">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.fullName"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </c-col>
                    </c-row>

                </c-card-body>
            </c-card>
        </c-col>

        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Insurance Card</strong>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <div style="float: right;" class="mb-2">
                                <c-button cButton color="primary" class="btn-sm">Add Card</c-button>
                            </div>
                        </c-col>
                        <c-col xs="12">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <div>
                                        <strong>Primary </strong> <br>
                                        UnitedHealthCare Coomunity Plan <br>
                                        Primary Id : 393 <br>
                                    </div>

                                </div>
                            </div>
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <div>
                                        <strong>Primary </strong> <br>
                                        UnitedHealthCare Coomunity Plan <br>
                                        Primary Id : 393 <br>
                                    </div>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <strong>Diagnosis/Cases</strong>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col xs="12">
                            <div style="float: right;" class="mb-2">
                                <c-button cButton color="primary" class="btn-sm">Add Case</c-button>
                            </div>
                        </c-col>
                        <c-col xs="12">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <strong>Default </strong> <br>
                                    ICD-10 : M542 <br>
                                </div>
                            </div>
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <c-button-group aria-label="Button outlined group with nested dropdown"
                                            role="group">
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" class="btn-sm">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </div>
                                    <strong>Default </strong> <br>
                                    ICD-10 : M442 <br>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>