<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Profile</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>

                <div style="float: left;">
                    <svg cIcon name="cilUser" title="cilUser" size="xxl"></svg>
                </div>
                <c-row>
                    <c-col class="mb-1">
                        <h3>Patient Information</h3>
                    </c-col>
                </c-row>
            </c-card-header>
            <c-card-body>

                <form cForm>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilDisabled" title="cilDisabled"></svg>
                                </span>
                                <input cFormControl placeholder="FirstName" />
                                <input cFormControl placeholder="MiddleName" />
                                <input cFormControl placeholder="LastName" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser" title="cilUser"></svg>
                                </span>
                                <select aria-label="" cSelect>
                                    <option>Select Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilPeople" title="cilPeople"></svg>
                                </span>
                                <select aria-label="" cSelect>
                                    <option>Select Marital Status</option>
                                </select>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilPhone" title="cilPhone"></svg>
                                </span>
                                <select  cSelect style="max-width: 12%;">
                                    <option>Select Phone Type</option>
                                </select>
                                <input cFormControl  size="sm" placeholder="Phone"/>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                                </span>
                                <input cFormControl  placeholder="Email"/>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilDollar" title="cilDollar"></svg>
                                </span>
                                <select cSelect aria-label="" cSelect style="max-width: 12%;">
                                    <option>Dollar Amt</option>
                                </select>
                                <input cFormControl    placeholder="Copay"/>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilBirthdayCake" title="cilBirthdayCake"></svg>
                                </span>
                                <c-date-picker cFormControl size="sm"></c-date-picker>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-card>
                                <c-card-header>Address</c-card-header>
                                <c-card-body>
                                    <c-row>
                                        <c-col xs="12"><input cFormControl placeholder="Country" sizing="sm"
                                                class="mb-1" /></c-col>
                                        <c-col xs="12"><input cFormControl placeholder="Street" sizing="sm"
                                                class="mb-1" /></c-col>
                                        <c-col xs="12"><input cFormControl placeholder="City" sizing="sm"
                                                class="mb-1" /></c-col>
                                        <c-col xs="6"><input cFormControl placeholder="State" sizing="sm"
                                                class="mb-1" /></c-col>
                                        <c-col xs="6"><input cFormControl placeholder="ZipCode" sizing="sm"
                                                class="mb-1" /></c-col>
                                    </c-row>
                                </c-card-body>
                            </c-card>
                        </c-col>
                    </c-row>
                </form>



            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-body>
                <c-nav variant="tabs">
                    <c-nav-item>
                        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
                            <svg cIcon class="me-2" name="cil-money"></svg>
                            Billing Info
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
                            <svg cIcon class="me-2" name="cil-task"></svg>
                            Auths
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=2 cNavLink>
                            <svg cIcon class="me-2" name="cil-settings"></svg>
                            Advanced
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=3 cNavLink>
                            <svg cIcon class="me-2" name="cil-paperPlane"></svg>
                            Filling
                        </a>
                    </c-nav-item>
                </c-nav>
                <c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
                    <c-tab-pane tabPaneIdx=0>
                        <app-billing></app-billing>
                    </c-tab-pane>
                    <c-tab-pane tabPaneIdx=1>
                        <app-auths></app-auths>
                    </c-tab-pane>
                    <c-tab-pane tabPaneIdx=2>
                        <app-advanced></app-advanced>
                    </c-tab-pane>
                    <c-tab-pane tabPaneIdx=3>
                        <app-filling></app-filling>
                    </c-tab-pane>
                </c-tab-content>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>