<ngx-spinner></ngx-spinner>
<c-callout color="danger" *ngIf="!valid" class="mt-3">
    Select provider and Insurance Company.
</c-callout>
<c-container fluid="true">
    <c-row class="mb-2">
        <c-col xs="12">
            <c-row [gutter]="6" class="align-items-center mb-2">
                <c-col xs="1">
                    <label cLabel for="feeProvider">Provider</label>
                </c-col>
                <c-col xs="10">
                    <select cSelect sizing="sm" style="height: 32px;" id="feeProvider" *ngIf="feeScheduleMetaData"
                        [(ngModel)]="feeSchedules.provider">
                        <option value="null" disabled="true">Select Provider</option>
                        <option *ngFor="let provider of feeScheduleMetaData.providers" [ngValue]="provider">
                            {{provider.lastName}},{{provider.firstName}}
                        </option>
                    </select>
                </c-col>
            </c-row>
            <c-row [gutter]="6" class="align-items-center mb-2">
                <c-col xs="1">
                    <label cLabel for="feePlanType">Plan Type</label>
                </c-col>
                <c-col xs="10">
                    <select cSelect sizing="sm" style="height: 32px;" id="feePlanType" *ngIf="feeScheduleMetaData"
                        [(ngModel)]="feeSchedules.insurance">
                        <option value="null" disabled="true">Select Insurance Company</option>
                        <option *ngFor="let insurance of feeScheduleMetaData.insurances" [ngValue]="insurance">
                            {{insurance.name}}
                        </option>
                    </select>
                </c-col>
            </c-row>
            <c-row [gutter]="6" class="align-items-center mb-2">
                <c-col xs="1">
                    <label cLabel for="feePlanType">Name</label>
                </c-col>
                <c-col xs="10">
                    <input cFormControl sizing="sm" name="cptCode" [(ngModel)]="feeSchedules.name">
                </c-col>
            </c-row>
            <input cFormCheckInput id="inhDefault" type="checkbox" class="mx-2" [(ngModel)]="inheritDefault"
                (change)="changeInheritDefault()" />
            <label cFormCheckLabel for="inhDefault">Inherit default configuration</label>
        </c-col>
    </c-row>
    <c-col xs="12">
        <c-card>
            <c-card-header>
                Fee Schedule Lines
            </c-card-header>
            <c-card-body>
                <div style="float:left;width: 100%;" class=" mb-3">
                    <c-card>
                        <c-card-body>
                            <div class="row mb-2">
                                <div class="col">
                                    <input cFormControl sizing="sm" placeholder="CPT Code" name="cptCode"
                                        [(ngModel)]="addNewFeeScheduleLine.cptCode">
                                </div>
                                <div class="col">
                                    <select cSelect sizing="sm" [(ngModel)]="addNewFeeScheduleLine.rateType"
                                        style="height: 32px;">
                                        <option value="Per_Unit">Per Unit</option>
                                        <option value="Fixed">Fixed</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="number" cFormControl sizing="sm" sizing="sm" placeholder="Unit"
                                        [(ngModel)]="addNewFeeScheduleLine.perUnit">
                                </div>
                                <div class="col">
                                    <input type="number" cFormControl sizing="sm" sizing="sm"
                                        placeholder="charge Amount" [(ngModel)]="addNewFeeScheduleLine.chargeAmount">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button cButton color="info" variant="outline" size="sm" (click)="addLine()">
                                        <span *ngIf="lineMode ==='update'">
                                            edit
                                        </span>
                                        <span *ngIf="lineMode ==='create'">
                                            Add
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </c-card-body>
                    </c-card>
                </div>
                <c-col xs="12">
                    <ng-container fluid="true">
                        <table cTable hover small>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">cptCode</th>
                                    <th scope="col">rateType</th>
                                    <th scope="col">perUnit</th>
                                    <th scope="col">chargeAmount</th>
                                    <th scope="col">actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let line of feeScheduleLines;index as i">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{line.cptCode}}</td>
                                    <td>{{line.rateType}}</td>
                                    <td>{{line.perUnit}}</td>
                                    <td>{{line.chargeAmount}}</td>
                                    <td>
                                        <c-button-group aria-label="Basic example" role="group" size="sm">
                                            <button cButton variant="outline" size="sm"
                                                (click)="editLine(line.cptCode)">
                                                <svg cIcon name="cilPen"></svg>
                                            </button>
                                            <button cButton variant="outline" size="sm" (click)="deleteLine(i)">
                                                <svg cIcon name="cilTrash"></svg>
                                            </button>
                                        </c-button-group>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>

                </c-col>
            </c-card-body>
        </c-card>
    </c-col>
    <div class="col text-center my-3">
        <button cButton color="info" variant="outline" size="sm" (click)="create()" style="width: 25%;">
            <span *ngIf="mode ==='create'"> Create</span>
            <span *ngIf="mode ==='update'"> Update</span>
        </button>
    </div>
</c-container>