<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <div style="float: right;" class="mb-2">
            <c-button cButton color="primary" class="btn-sm" variant="outline" (click)="add()" dispaly-input
                [componentScopes]="componentScopes">Create Case</c-button>
        </div>
    </c-col>
    <c-col xs="12">
        <div class="card border mb-2" *ngFor="let case of _cases;let i=index;">
            <div class="card-body">
                <div style="float: right;">
                    <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                        <button cButton color="info" variant="outline" class="btn-sm" (click)="edit(case)" dispaly-input
                            [componentScopes]="componentScopes">
                            <svg cIcon name="cilPen"></svg>
                        </button>
                        <button cButton color="info" variant="outline" class="btn-sm" (click)="remove(i,case)"
                            color="info" dispaly-input [componentScopes]="componentScopes">
                            <svg cIcon name="cilTrash"></svg>
                        </button>
                    </c-button-group>
                </div>
                <h1><strong>{{case.title }}</strong></h1>
                <h3>ICD-10 Codes</h3>
                <ul *ngFor="let code of case.caseDiagnosis">
                    <li style="list-style-type: none">
                        {{code.diagnosisCode}} - {{code.diagnosisDescription}}
                    </li>
                </ul>
            </div>
        </div>
    </c-col>
</c-row>

<c-modal id="addCaseModal" [visible]="addCaseVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Create new Case</h5>
        <button (click)="toggleAddCaseVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <case-add-daignosis [mode]="mode" *ngIf="addCaseVisibility" #caseAddDaignosisComponent
            (changeAddCaseVisibility)="changeAddCaseVisibility($event)"></case-add-daignosis>
    </c-modal-body>
    <c-modal-footer>
        <div class="col-12 text-center">
            <button cButton variant="outline" style="width: 15%;" size="sm" (click)="createCase()">Create</button>
        </div>
    </c-modal-footer>
</c-modal>
<c-modal id="editCaseModal" [visible]="editCaseVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Edit selected Case</h5>
        <button (click)="toggleEditCaseVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <case-add-daignosis [mode]="mode" [editcase]="editCase" *ngIf="editCaseVisibility" #caseAddDaignosisComponent
            (changeAddCaseVisibility)="changeAddCaseVisibility($event)"></case-add-daignosis>
    </c-modal-body>
    <c-modal-footer>
        <div class="col-12 text-center">
            <button cButton variant="outline" style="width: 15%;" size="sm" (click)="createCase()">Update</button>
        </div>
    </c-modal-footer>
</c-modal>