<c-row>
    <c-col xs="12">
        <div style="float: right;" class="mb-2">
            <c-button cButton color="primary" class="btn-sm" variant="outline" (click)="toggleAddCaseVisibility()">Add
                Case</c-button>
        </div>
    </c-col>
    <c-col xs="12">
        <div class="card border mb-2" *ngFor="let case of cases;let i=index;">
            <div class="card-body">
                <div style="float: right;">
                    <c-button-group aria-label="Button outlined group with nested dropdown" role="group">
                        <!-- <button cButton color="info" variant="outline" class="btn-sm" (click)="edit(case)">
                            <svg cIcon name="cilPen"></svg>
                        </button> -->
                        <button cButton color="info" variant="outline" class="btn-sm" (click)="remove(i)" color="info">
                            <svg cIcon name="cilTrash"></svg>
                        </button>
                    </c-button-group>
                </div>
                <h6>{{case.title }}</h6> <br />
                <h6>ICD-10 Codes</h6> 
                <ul *ngFor="let code of case.caseDiagnosis">
                    <li style="list-style-type: none">
                        {{code.diagnosisCode}} - {{code.diagnosisDescription}}
                    </li>
                </ul>
            </div>
        </div>
    </c-col>
</c-row>
<c-modal id="addCaseModal" [visible]="addCaseVisibility" backdrop="static" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Add Case</h5>
        <button (click)="toggleAddCaseVisibility()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <c-row>
            <c-col>
                <input cFormControl placeholder="Case Name" class="mb-3" [(ngModel)]="case.title" />
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <c-input-group class="mb-3">
                    <span cInputGroupText id="basic-addon1">
                        <svg cIcon name="cilNotes"></svg>
                    </span>
                    <input cFormControl name="icd10diagnosis" [formControl]="diagnosisCtrl"
                        placeholder="Type ICD-10 Code" />
                </c-input-group>
            </c-col>
        </c-row>
        <c-row>
            <span align="center" *ngIf="isLoading">
                <c-spinner variant="grow"></c-spinner>
            </span>
            <span *ngIf="!isLoading">
                <c-col>
                    <c-multi-select class="mb-2" (valueChange)="addICD10diagnosis($event)" multiple="true"
                        visibleItems="20" placeholder="Select ICD-10 Code Description">
                        <c-multi-select-option *ngFor="let option of filteredDiagnosis">
                            {{ option}}
                        </c-multi-select-option>
                    </c-multi-select>
                </c-col>
            </span>
        </c-row>
        <c-row>
            <c-col>
                <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-center">
                    <button cButton type="submit" (click)="addCase()">Add Case</button>
                </div>
            </c-col>
        </c-row>
    </c-modal-body>
</c-modal>