<div class="container">
  <div class="d-flex justify-content-between">
    <div class="text-left">
      <strong>{{era.payerName}}</strong>
    </div>
    <div class="text-right">
      <strong>ERA date : </strong> {{era.receivedDate}} <br />
      <strong>Payment # : </strong> {{era.checkNumber}} <br />
      <strong>Payment Type : </strong> {{era.checkType | uppercase}} <br />
      <strong>Total : </strong> {{era.paidAmount}} <br />
    </div>
  </div>
</div>
<hr />

<div *ngFor="let key of getKeys(this.era.eraDetails.patientLines)" class="mb-2">
  <div class="mt-3"><strong>{{capitalizeNames(key)}}</strong></div>
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>DOS</th>
          <th>CPT</th>
          <th>Units</th>
          <th>Billed</th>
          <th>Adjust</th>
          <th>Deduct</th>
          <th>COIN</th>
          <th>COPAY</th>
          <th>Paid</th>
          <th style="width: 15%;">Action</th>
          <th style="width: 15%;">Claim Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.era.eraDetails.patientLines[key]; let i = index">
          <td style="width: 5%;">
            <input type="checkbox" checked [(ngModel)]="item.selected"  *ngIf="!item.touched"/>
          </td>
          <td>{{ formatDate(item.dos) }}</td>
          <td>{{ item.cptCode}}</td>
          <td>{{ item.units}}</td>
          <td>
            <c-row>
              <c-col xs="12">{{ item.billAmount}}</c-col>
              <c-col xs="12" *ngIf="item.touched">ERA Applied:</c-col>
            </c-row>
          </td>
          <td>
            <c-row>
              <c-col xs="12">{{ item.adjustAmount}}</c-col>
              <c-col xs="12" *ngIf="!item.touched"><input type="number" style="width: 90%;"
                  [(ngModel)]="item.editAdjustAmount" /></c-col>
              <c-col xs="12" *ngIf="item.touched">{{item.editAdjustAmount
                !==undefined?item.editAdjustAmount:item.adjustAmount}}</c-col>
            </c-row>
          </td>
          <td>{{ item.deductAmount}}</td>
          <td>{{ item.coInsuranceAmount}}</td>
          <td>
            <c-row>
              <c-col xs="12">{{ item.coPaymentAmount}}</c-col>
              <c-col xs="12" *ngIf="item.touched">ERA Applied:</c-col>
            </c-row>
          </td>
          <td>
            <c-row>
              <c-col xs="12">{{ item.paidAmount}}</c-col>
              <c-col xs="12" *ngIf="!item.touched"><input type="number" style="width: 90%;"
                  [(ngModel)]="item.editPaidAmount" /></c-col>
              <c-col xs="12" *ngIf="item.touched">{{item.editPaidAmount !== undefined ?
                item.editPaidAmount:item.paidAmount }}</c-col>
            </c-row>
          </td>
          <td>
            <select id="era-actions" name="era-actions" [(ngModel)]="item.action" *ngIf="!item.touched">
              <option value="Close">Close Session</option>
              <option value="Resubmit">Send to insurance invoice area</option>
              <option value="Current_Status">Keep current status</option>
            </select>
            <span *ngIf="item.touched">{{item.action}}</span>
          </td>
          <td>
            {{item.claimStatusDescription}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<c-row>
  <c-col xs="12" class="text-center" *ngIf="!isAllTouched">
    <button cButton class="me-1" color="primary" style="width: 15%;" (click)="apply()">
      Apply
    </button>
  </c-col>
</c-row>