
<div class="container">
    <div class="d-flex justify-content-between">
      <div class="text-left">
        <strong>{{details.payerName}}</strong>
      </div>
      <div class="text-right">
        <strong>ERA date : </strong> {{details.eraDate}} <br/>
        <strong>Payment # : </strong> {{details.checkNumber}} <br/>
        <strong>Payment Type : </strong> {{details.chekType | uppercase}} <br/>
        <strong>Total : </strong> {{details.totalPaid}} <br/>
      </div>
    </div>
  </div>
<hr/>
<c-smart-table selectable header #smartTable="cSmartTable" [columns]="columns" [itemsPerPageSelect]="true"
    [itemsPerPage]="5" pagination [sorterValue]="{ column: 'name', state: 'asc' }"
    [tableProps]="{ hover: true, striped: true, responsive: true }" [items]="lines"
    (selectedItemsChange)="onSelectedItemsChange($event)" selectAll>
    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
        <td>
            <ng-container [ngSwitch]="columnName">
                <ng-container *ngSwitchCase="'dos'" class="py-2">
                    {{convertDOS(item.dos)}}
                </ng-container>
                <ng-container *ngSwitchCase="'adjustAmount'" class="py-2">
                    <label>{{item.adjustAmount}}</label> <br/>
                    <input cFormControl sizing="sm"  [(ngModel)]="item.editadjustAmount" type="number" />
                </ng-container>
                <ng-container *ngSwitchCase="'paidAmount'" class="py-2">
                    <label>{{item.paidAmount}}</label> <br/>
                    <input cFormControl sizing="sm" [value]="item.paidAmount" type="number" />
                </ng-container>
                <ng-container *ngSwitchCase="'actions'" class="py-2">
                    <select cFormControl cSelect sizing="sm" id="era-actions" name="era-actions">
                        <option *ngFor="let action of actions" [value]="action">
                            {{action}}
                        </option>
                    </select>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{tdContent}}
                </ng-container>
            </ng-container>
        </td>
    </ng-template>
</c-smart-table>
<c-row>
    <c-col xs="12" class="text-center">
      <button cButton class="me-1" color="primary" style="width: 15%;" (click)="apply()">
        Apply
      </button>
    </c-col>
  </c-row>