<c-container fluid="true">
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-body>
                    <c-nav variant="tabs">
                        <c-nav-item>
                            <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
                                <svg cIcon class="me-2" name="cilHome"></svg>
                                General
                            </a>
                        </c-nav-item>
                        <c-nav-item>
                            <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
                                <svg cIcon class="me-2" name="cil-money"></svg>
                                Billing provider preferences (Box 33)
                            </a>
                        </c-nav-item>
                        <c-nav-item>
                            <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=2 cNavLink>
                                <svg cIcon class="me-2" name="cilUser"></svg>
                                Client List
                            </a>
                        </c-nav-item>
                    </c-nav>
                    <c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
                        <c-tab-pane tabPaneIdx=0>
                            <app-general-settings></app-general-settings>
                        </c-tab-pane>
                        <c-tab-pane tabPaneIdx=1>
                            <app-box33-settings></app-box33-settings>
                        </c-tab-pane>
                        <c-tab-pane tabPaneIdx=2>
                            <app-client-list-settings></app-client-list-settings>
                        </c-tab-pane>
                    </c-tab-content>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>