<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="8" class="mb-2">
        <h1>Batch Insurance Company Payments</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col>
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Search Criteria</strong>
            </c-card-header>
            <c-card-body>
                <form cForm>
                    <c-row>
                        <c-col class="mb-2" xs="11">
                            <select aria-label="searchentity" id="searchentity" cSelect sizing="sm" name="searchentity"
                                [(ngModel)]="selectedSearchOption">
                                <option value="none" disabled>Select Search Criteria</option>
                                <option value="client">Client</option>
                                <option value="insurance">Insurance Company</option>
                            </select>
                        </c-col>
                        <c-col class="mb-2" xs="1">
                            <button cButton size="sm" variant="outline" (click)="clear(0)">
                                <svg cIcon name="cilFilter" title="cilFilterX"></svg>
                            </button>
                        </c-col>
                    </c-row>
                    <c-row>
                        <!-- Auto complete for patient -->
                        <c-col class="mb-2" xs="11" *ngIf="selectedSearchOption ==='client'">
                            <input cFormControl name="patientname" [formControl]="patientClient" placeholder="Patient"
                                class="mb-2" sizing="sm" />
                            <c-multi-select class="mb-2" visibleItems="20" *ngIf="!isLoading"
                                (valueChange)="changePatientValue($event)">
                                <c-multi-select-option *ngFor="let patient of filteredPatients"
                                    [value]="patient.clientId">
                                    {{ patient.clientName}}
                                </c-multi-select-option>
                            </c-multi-select>
                            <span align="center" *ngIf="isLoading">
                                <c-spinner variant="grow"></c-spinner>
                            </span>
                        </c-col>
                        <!-- Auto complete for insurance company -->
                        <c-col class="mb-2" xs="11" *ngIf=" selectedSearchOption ==='insurance'">
                            <input cFormControl name="insurancecompany" [formControl]="insuranceCompanyForm"
                                placeholder="Insurance Company" class="mb-2" sizing="sm" />
                            <c-multi-select class="mb-2" visibleItems="20" *ngIf="!isLoadingInsuranceCompany"
                                (valueChange)="changeInsuranceCompanyValue($event)">
                                <c-multi-select-option *ngFor="let insuranceCompany of filteredInsuranceCompany"
                                    [value]="insuranceCompany.id">
                                    {{ insuranceCompany.name}}
                                </c-multi-select-option>
                            </c-multi-select>
                            <span align="center" *ngIf="isLoadingInsuranceCompany">
                                <c-spinner variant="grow"></c-spinner>
                            </span>
                        </c-col>
                        <c-col class="mb-2" xs="1" *ngIf="selectedSearchOption !== 'none'">
                            <button cButton size="sm" variant="outline" (click)="clear(1)">
                                <svg cIcon name="cilFilter" title="cilFilterX"></svg>
                            </button>
                        </c-col>
                    </c-row>
                    <c-col xs="11" class="mb-2 " *ngIf="selectedSearchOption === 'client'">
                        <c-date-range-picker [placeholder]="['Start', 'End']"
                            [(startDate)]="postingFilterModel.searchStartDate"
                            [(endDate)]="postingFilterModel.searchEndDate"
                            [ranges]="customRanges"></c-date-range-picker>
                    </c-col>
                </form>
                <c-col xs="12" class="text-center">
                    <button cButton class="me-1" color="primary" style="width: 15%;" (click)="search()">
                        Search
                    </button>
                </c-col>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col xs="4">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Payment Entries</strong>
            </c-card-header>

            <c-card-body>
                <form cForm #paymentForm="ngForm" id="paymentForm" name="paymentForm">
                    <c-row>
                        <c-col xs="12" class="mb-2">
                            <small
                                *ngIf="notValidForm   && (totamount.errors) || totamount.invalid && (totamount.dirty || totamount.touched)"
                                class="form-text text-danger">
                                Total Amount
                            </small>
                            <input cFormControl id="totamount" placeholder="Total Amount" sizing="sm" id="totamount"
                                required name="totamount" #totamount="ngModel" [(ngModel)]="paymentBatch.totalAmount"
                                type="number" />
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <small
                                *ngIf="notValidForm   && (Pmtmethod.errors) ||Pmtmethod.invalid && (Pmtmethod.dirty || Pmtmethod.touched)"
                                class="form-text text-danger">
                                Payment method
                            </small>
                            <select aria-label="searchentity" id="Pmtmethod" cSelect sizing="sm" name="Pmtmethod"
                                required #Pmtmethod="ngModel" [(ngModel)]="paymentBatch.paymentMethod">
                                <option value=null disabled>Select Pmt method</option>
                                <option value="Check">Check</option>
                                <option value="EFT">EFT</option>
                            </select>
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <c-date-picker placeholder="Received Date"
                                [(date)]="paymentBatch.receivedDate_date"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <small
                                *ngIf="notValidForm   && (checkdate.errors) ||checkdate.invalid && (checkdate.dirty || checkdate.touched)"
                                class="form-text text-danger">
                                Check Date
                            </small>
                            <c-date-picker placeholder="Check Date" [(ngModel)]="paymentBatch.checkDate_date"
                                required="true" id="checkdate" name="checkdate" #checkdate="ngModel"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <small
                                *ngIf="notValidForm   && (checkNumber.errors) ||checkNumber.invalid && (checkNumber.dirty || checkNumber.touched)"
                                class="form-text text-danger">
                                Check Number
                            </small>
                            <input cFormControl id="checkNumber" placeholder="check Number" sizing="sm" required
                                [(ngModel)]="paymentBatch.checkNumber" required="true" name="checkNumber"
                                #checkNumber="ngModel" />
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <small
                                *ngIf="notValidForm   && (depositDate.errors) ||depositDate.invalid && (depositDate.dirty || depositDate.touched)"
                                class="form-text text-danger">
                                Deposit Date
                            </small>
                            <c-date-picker placeholder="Deposit Date" [(ngModel)]="paymentBatch.depositDate_date"
                                required="true" id="depositDate" name="depositDate"
                                #depositDate="ngModel"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-2" *ngIf="selectedSearchOption ==='client' && patientInsurances">
                            <select cFormControl cCol cSelect id="insCompEntity" style="max-height: 30px;" sizing="sm"
                                class="mb-1" name="insCompEntity" [(ngModel)]="selectedInsuranceCompany">
                                <option value="null">Select Insurance Company</option>
                                <option *ngFor="let patientInsuranceCompany of patientInsurances" [ngValue]="patientInsuranceCompany.insuranceCompany[1]">
                                    {{patientInsuranceCompany.insuranceCompany[0]}}
                                </option>
                            </select>
                        </c-col>
                        <c-col xs="6" class="mb-2">
                            <strong>Total Payments : </strong> {{totalPayments | currency}}
                        </c-col>
                        <c-col xs="6" class="mb-2">
                            <strong>Total Adjustments : </strong> {{totalAdjustments | currency}}
                        </c-col>
                        <small *ngIf=" (invalidServiceCode?.length > 0 && invalidServiceCode[0] !==-1)"
                            class="form-text text-danger mb-3">
                            service codes {{invalidServiceCode}} : have no session action
                        </small>
                        <small *ngIf=" (invalidServiceCode?.length > 0 && invalidServiceCode[0] ===-1)"
                            class="form-text text-danger mb-3">
                            no service codes to apply payment on it
                        </small>
                        <c-col xs="12" class="text-center">
                            <button cButton variant="outline" class="me-1" color="primary" size="sm"
                                (click)="applyPayments()">
                                Apply Payments
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-row>
    <c-col *ngIf="renderComponent ==='client'">
        <client-payment #clientPayments *ngIf="renderComponent ==='client'" [batchType]="'bi'"
            [entityPaymentId]="postingFilterModel.entityId"></client-payment>
    </c-col>
    <c-col *ngIf="renderComponent ==='insurance'">
        <insurance-company-payment *ngIf="renderComponent ==='insurance'"
            [entityPaymentId]="postingFilterModel.entityId" #insuranceCompanyPayments></insurance-company-payment>
    </c-col>
</c-row>