{{selectedSearchValue |json}}
<c-row>
    <c-col xs="8" class="mb-2">
        <h1>Batch Insurance Payment</h1>
    </c-col>
</c-row>
<hr />
<c-row>
    <c-col>
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Search Criteria</strong> <small>From patient or Insurance Company</small>
            </c-card-header>

            <c-card-body>
                <form cForm>
                    <c-row>
                        <c-col class="mb-2" xs="12">
                            <select aria-label="searchentity" id="searchentity" cSelect sizing="sm" name="searchentity"
                                [(ngModel)]="selectedSearchOption">
                                <option value="none" disabled>Select Search Criteria</option>
                                <option value="client">Client</option>
                                <option value="insurance">Insurance Company</option>
                            </select>
                        </c-col>
                    </c-row>
                    <c-row>
                        <!-- Auto complete for patient -->
                        <c-col class="mb-2" xs="12" *ngIf="selectedSearchOption ==='client'">
                            <input cFormControl name="patientname" [formControl]="patientClient" placeholder="Patient"
                                class="mb-2" sizing="sm" />
                            <c-multi-select class="mb-2" visibleItems="20" *ngIf="!isLoading"
                                (valueChange)="changeValue($event)">
                                <c-multi-select-option *ngFor="let patient of filteredPatients"
                                    [value]="patient.clientId">
                                    {{ patient.clientName}}
                                </c-multi-select-option>
                            </c-multi-select>
                            <span align="center" *ngIf="isLoading">
                                <c-spinner variant="grow"></c-spinner>
                            </span>
                        </c-col>
                        <!-- Auto complete for insurance company -->
                        <c-col class="mb-2" xs="12" *ngIf=" selectedSearchOption ==='insurance'">
                            <input cFormControl name="insurancecompany" [formControl]="insuranceCompanyForm"
                                placeholder="Insurance Company" class="mb-2" sizing="sm" />
                            <c-multi-select class="mb-2" visibleItems="20" *ngIf="!isLoadingInsuranceCompany"
                                (valueChange)="changeValue($event)">
                                <c-multi-select-option *ngFor="let insuranceCompany of filteredInsuranceCompany">
                                    {{ insuranceCompany.displayName}}
                                </c-multi-select-option>
                            </c-multi-select>
                            <span align="center" *ngIf="isLoadingInsuranceCompany">
                                <c-spinner variant="grow"></c-spinner>
                            </span>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col xs="4">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Payment Entries</strong>
            </c-card-header>

            <c-card-body>
                <form cForm>
                    <c-row>
                        <c-col xs="12" class="mb-2">
                            <input cFormControl id="totamount" placeholder="Total Amount" sizing="sm" />
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <select aria-label="searchentity" id="searchentity" cSelect sizing="sm">
                                <option value="0">Select Pmt method</option>
                                <option value="1">Check</option>
                            </select>
                        </c-col>
                        <c-col xs="6" class="mb-2">
                            <c-date-picker placeholder="Received Date"></c-date-picker>
                        </c-col>
                        <c-col xs="6" class="mb-2">
                            <c-date-picker placeholder="Check Date"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <input cFormControl id="totamount" placeholder="Total Amount" sizing="sm" />
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <c-date-picker placeholder="Deposit Date"></c-date-picker>
                        </c-col>
                        <c-col xs="12" class="text-center">
                            <button cButton variant="outline" class="me-1" color="primary" size="sm">
                                Apply Payments
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col *ngIf="selectedSearchOption === 'client' && selectedSearchValue>0">
        <client-payment *ngIf="selectedSearchOption === 'client'  && selectedSearchValue >0"
            [clientId]="selectedSearchValue"></client-payment>
    </c-col>
    <c-col *ngIf="selectedSearchOption === 'insurance'">
        <insurance-company-payment *ngIf="renderedComponent === 'insurance'"></insurance-company-payment>
    </c-col>
</c-row>