<c-container [fluid]="true">
    <c-card class="w-90 mb-2" color="light">
        <c-card-body>
            <c-row>
                <c-col><strong>DOS : </strong> {{selectedSession.dos}}</c-col>
            </c-row>
            <c-row>
                <c-col><strong>CPT : </strong>{{selectedSession.cpt}}</c-col>
            </c-row>
        </c-card-body>
    </c-card>
    <!-- Place of code-->
    <c-row *ngIf="itemType === 'place'">
        <select cSelect sizing="sm" [(ngModel)]="selectedSession.data.placeOfCode" id="placeOfCode" required="true"
            name="placeOfCode-item">
            <option [value]=null selected disabled>Select Place Code</option>
            <option *ngFor="let placeOfCodevalue of placeOfCodeKeys(placeOfCodes)" [ngValue]="placeOfCodevalue">
                {{placeOfCodes[placeOfCodevalue]}}
            </option>
        </select>
    </c-row>
    <!-- Place of CPT-->
    <c-row *ngIf="itemType === 'cpt'">
        <label cLabel for="cpt-item">CPT</label>
        <input cFormControl id="cpt-item" sizing="sm" [(ngModel)]="changedCPT">
    </c-row>
    <!-- Place of Unit-->
    <c-row *ngIf="itemType === 'unit'">
        <label cLabel for="unit-item">Unit</label>
        <input cFormControl id="unit-item" type="number" sizing="sm" [(ngModel)]="changedUnit">
    </c-row>
    <!-- Place of Charge-->
    <c-row *ngIf="itemType === 'charge'">
        <label cLabel for="charge-item">Charge</label>
        <input cFormControl id="charge-item" type="number" sizing="sm" [(ngModel)]="changedCharge">
    </c-row>
    <c-row class="my-3">
        <div class="col-12 text-center">
            <button cButton variant="outline" style="width: 15%;" (click)="edit()" size="sm">Change</button>
        </div>
    </c-row>
</c-container>