<ngx-spinner></ngx-spinner>
<c-container [fluid]="true">
    <!-- Place of CPT-->
    <c-row *ngIf="itemType === 'cpt'">
        <c-row>
            <c-col xs="12">
                <c-input-group class="mb-1" sizing="sm">
                    <span cInputGroupText id="basic-addon3" style="width: 15%;">CPT Code</span>
                    <input aria-describedby="basic-addon3" cFormControl id="basic-url" [formControl]="feeCtrl"
                        [ngModel]="serviceCode.cptCode.serviceCode"
                        (ngModelChange)="serviceCode.cptCode.serviceCode = $event.toUpperCase()" readonly-input
                        [componentRole]="componentRole" />
                </c-input-group>
            </c-col>
            <c-col xs="12">
                <c-input-group sizing="sm" class="mb-1">
                    <span cInputGroupText id="basic-addon3" style="width: 15%;">Modifier(s)</span>
                    <input cFormControl maxlength="2" [ngModel]="modifier[0]"
                        (ngModelChange)="modifier[0] = $event.toUpperCase()" readonly-input
                        [componentRole]="componentRole" />
                    <input cFormControl maxlength="2" [ngModel]="modifier[1]"
                        (ngModelChange)="modifier[1] = $event.toUpperCase()" readonly-input
                        [componentRole]="componentRole" />
                    <input cFormControl maxlength="2" [ngModel]="modifier[2]"
                        (ngModelChange)="modifier[2] = $event.toUpperCase()" readonly-input
                        [componentRole]="componentRole" />
                    <input cFormControl maxlength="2" [ngModel]="modifier[3]"
                        (ngModelChange)="modifier[3] = $event.toUpperCase()" readonly-input
                        [componentRole]="componentRole" />
                </c-input-group>
            </c-col>
        </c-row>
    </c-row>
    <!-- Place of Unit-->
    <c-row *ngIf="itemType === 'unit' || itemType === 'charge'">
        <c-col xs="12">
            <c-input-group class="mb-1" sizing="sm">
                <span cInputGroupText id="basic-addon3" style="width: 10%;">Unit</span>
                <input cFormControl id="unit-item" type="number" sizing="sm" [(ngModel)]="serviceCode.cptCode.unit"
                    (keyup)="calculateCharge()" disable-input [componentRole]="componentRole">
            </c-input-group>
        </c-col>
        <c-col xs="12">
            <c-input-group class="mb-1" sizing="sm">
                <span cInputGroupText id="basic-addon3" style="width: 10%;">Charge</span>
                <input cFormControl id="unit-item" type="number" sizing="sm" [(ngModel)]="serviceCode.cptCode.charge"
                    disable-input [componentRole]="componentRole">
            </c-input-group>
        </c-col>
    </c-row>
    <c-row class="my-3">
        <div class="col-12 text-center">
            <button cButton variant="outline" style="width: 15%;" (click)="edit()" size="sm" dispaly-input
                [componentRole]="componentRole">Change</button>
        </div>
    </c-row>
</c-container>