<ngx-spinner></ngx-spinner>
<c-container [fluid]="true">
    <c-card class="w-90 mb-2" color="light">
        <c-card-body>
            <c-row>
                <c-col><strong>CPT : </strong>{{serviceCode.cptCode.serviceCode}}</c-col>
            </c-row>
        </c-card-body>
    </c-card>

    <!-- Place of CPT-->
    <c-row *ngIf="itemType === 'cpt'">
        <label cLabel for="cpt-item">CPT</label>
        <input cFormControl id="cpt-item" sizing="sm" [(ngModel)]="serviceCode.cptCode.serviceCode">
    </c-row>
    <!-- Place of Unit-->
    <c-row *ngIf="itemType === 'unit'">
        <label cLabel for="unit-item">Unit</label>
        <input cFormControl id="unit-item" type="number" sizing="sm" [(ngModel)]="serviceCode.cptCode.unit">
    </c-row>
    <!-- Place of Charge-->
    <c-row *ngIf="itemType === 'charge'">
        <label cLabel for="charge-item">Charge</label>
        <input cFormControl id="charge-item" type="number" sizing="sm" [(ngModel)]="serviceCode.cptCode.charge">
    </c-row>
    <c-row class="my-3">
        <div class="col-12 text-center">
            <button cButton variant="outline" style="width: 15%;" (click)="edit()" size="sm">Change</button>
        </div>
    </c-row>
</c-container>