<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <div style="float: left;">
                    <svg cIcon name="cilUser" title="cilUser" size="xxl"></svg>
                </div>
                <c-row>
                    <c-col class="mb-1">
                        <h3>Patient Information</h3>
                    </c-col>
                </c-row>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilDisabled" title="cilDisabled"></svg>
                            </span>
                            <input cFormControl name="firstName"  [value]="patient.firstName"
                                name="vpFirstName" />
                            <input cFormControl [value]="patient.middleName" name="vpmname"  />
                            <input cFormControl  [value]="patient.lastName" name="vplastname" />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilUser" title="cilUser"></svg>
                            </span>
                            <input cFormControl  [value]="genders[patient.gender]" name="vpgeneder"
                                 />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilPeople" title="cilPeople"></svg>
                            </span>
                            <input cFormControl  [value]="maritalStatuses[patient.maritalStatus]"
                                name="vpmaritalStatus"  />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilPhone" title="cilPhone"></svg>
                            </span>
                            <select cSelect style="max-width: 12%;" #phonetype="ngModel" name="phonetype" disabled
                                [(ngModel)]="patient.phoneType">
                                <option [value]=null disabled selected>Select phoneType</option>
                                <option *ngFor="let phoneTypevalue of phoneTypesKeys(phoneTypes)"
                                    [value]="phoneTypevalue">
                                    {{phoneTypes[phoneTypevalue]}}
                                </option>
                            </select>
                            <input cFormControl size="sm" [value]="patient.phone" name="vpphone"  />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1" xs="8">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                            </span>
                            <input cFormControl placeholder="Email"  [value]="patient.email" id="vpemail" />
                        </c-input-group>
                    </c-col>
                    <c-col class="mb-1" >
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilBirthdayCake" title="cilBirthdayCake"></svg>
                            </span>
                            <c-date-picker cFormControl size="sm" [(date)]="patientDOB"
                                required="true"></c-date-picker>
                        </c-input-group>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>