<ngx-spinner></ngx-spinner>
<!--Patient Information -->
<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <div style="float: left;">
                    <svg cIcon name="cilUser" title="cilUser" size="xl"></svg>
                </div>
                <c-row>
                    <c-col class="mb-1">
                        <h3>Patient Information</h3>
                    </c-col>
                </c-row>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilDisabled" title="cilDisabled"></svg>
                            </span>
                            <input cFormControl name="firstName" [(ngModel)]="patient.firstName" name="vpFirstName" />
                            <input cFormControl [(ngModel)]="patient.middleName" name="vpmname" />
                            <input cFormControl [(ngModel)]="patient.lastName" name="vplastname" />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilUser" title="cilUser"></svg>
                            </span>
                            <select aria-label="" cSelect #vpgeneder="ngModel" name="vpgeneder" required
                                [(ngModel)]="patient.gender">
                                <option [value]="null">Select Gender</option>
                                <option *ngFor="let genderValue of genderKeys(genders)" [ngValue]="genderValue">
                                    {{genders[genderValue]}}
                                </option>
                            </select>
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilPeople" title="cilPeople"></svg>
                            </span>
                            <select aria-label="" cSelect #vpmaritalStatus="ngModel" name="vpmaritalStatus"
                                [(ngModel)]="patient.maritalStatus" required>
                                <option [value]="null" disabled selected>Select MaritalStatus</option>
                                <option *ngFor="let maritalStatusValue of maritalStatusKeys(maritalStatuses)"
                                    [value]="maritalStatusValue">
                                    {{maritalStatuses[maritalStatusValue]}}
                                </option>
                            </select>
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilPhone" title="cilPhone"></svg>
                            </span>
                            <select cSelect style="max-width: 12%;" #phonetype="ngModel" name="phonetype" disabled
                                [(ngModel)]="patient.phoneType">
                                <option [value]=null disabled selected>Select phoneType</option>
                                <option *ngFor="let phoneTypevalue of phoneTypesKeys(phoneTypes)"
                                    [value]="phoneTypevalue">
                                    {{phoneTypes[phoneTypevalue]}}
                                </option>
                            </select>
                            <input cFormControl size="sm" [(ngModel)]="patient.phone" name="vpphone" />
                        </c-input-group>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col class="mb-1" xs="12">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                            </span>
                            <input cFormControl placeholder="Email" [(ngModel)]="patient.email" id="vpemail" />
                        </c-input-group>
                    </c-col>
                    <c-col class="mb-1" xs="12">
                        <c-input-group sizing="sm">
                            <span cInputGroupText>
                                <svg cIcon name="cilBirthdayCake" title="cilBirthdayCake"></svg>
                            </span>
                            <c-date-picker cFormControl size="sm" [(date)]="patientDOB" required="true"></c-date-picker>
                        </c-input-group>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<!--Address -->
<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <div style="float: left;">
                    <svg cIcon name="cilAddressBook" title="cilAddressBook" size="xxl"></svg>
                </div>
                <c-row>
                    <c-col class="mb-1">
                        <h3>Address </h3>
                    </c-col>
                </c-row>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col xs="12">
                        <c-input-group class="mb-3">
                            <select cFormControl cSelect sizing="sm" id="vpcountry" name="vpcountry" #country="ngModel"
                                [(ngModel)]="patient.address.country">
                                <option [value]="null" disabled selected>Select Country</option>
                                <option *ngFor="let country of countries" [value]="country.name">
                                    {{country.name}}
                                </option>
                            </select>
                        </c-input-group>
                    </c-col>
                    <c-col xs="12">
                        <input cFormControl placeholder="Street" sizing="sm" class="mb-1" id="vpstreet" name="vpstreet"
                            [(ngModel)]="patient.address.first" />
                    </c-col>
                    <c-col xs="12">
                        <input cFormControl sizing="sm" class="mb-1" name="vpCity" [value]="patient.address.city" />
                    </c-col>
                    <c-col xs="12">
                        <select cFormControl cSelect sizing="sm" id="vpstate" name="vpstate" #state="ngModel"
                            class="mb-1" [(ngModel)]="patient.address.state">
                            <option *ngFor="let state of states" [value]="state |state">
                                {{state}}
                            </option>
                        </select>
                    </c-col>
                    <c-col xs="12">
                        <input cFormControl [(ngModel)]="patient.address.zipCode" sizing="sm" id="vpzipCode"
                            name="vpzipCode" class="mb-1" />
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<!--Insurances -->
<c-row>
    <edit-patient-insurance [patient]="patient" #editPatientInsuranceComponent></edit-patient-insurance>
</c-row>
<!--Cases -->
<c-row>
    <edit-patient-case [patient]="patient"></edit-patient-case>
</c-row>
<!--Sessions -->
<c-row>
    <edit-patient-session></edit-patient-session>
</c-row>
<div class="col-12 text-center">
    <button cButton variant="outline" style="width: 15%;" (click)="update()">Update Profile</button>
</div>