<c-row>
    <c-col xs="7">
        <c-card>
            <c-card-header>
                <strong>Printing Options</strong>
            </c-card-header>
            <c-card-body>
                <table class="table table-sm" *ngIf="clientBalanceSettings">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Show Tax ID</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="staxidy" [value]="true" name="staxidy"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.taxID" type="radio" />
                                    <label cFormCheckLabel for="staxidy">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="staxidn" [value]="false" name="staxidn"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.taxID" type="radio" />
                                    <label cFormCheckLabel for="autoaccidentno">No</label>
                                </c-form-check>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Show NPI</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="npiy" [value]="true" name="npiy"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.npi" type="radio" />
                                    <label cFormCheckLabel for="npiy">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="npin" [value]="false" name="npin"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.npi" type="radio" />
                                    <label cFormCheckLabel for="npin">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Show Rendring Provider</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="rprovidery" [value]="true" name="rprovidery"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.renderingProvider" type="radio" />
                                    <label cFormCheckLabel for="rprovidery">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="rprovidern" [value]="false" name="rprovidern"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.renderingProvider" type="radio" />
                                    <label cFormCheckLabel for="rprovidern">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Show ICD-10 Daignosis</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="icdy" [value]="true" name="icdy"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.icdCodes" type="radio" />
                                    <label cFormCheckLabel for="icdy">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="icdn" [value]="false" name="icdn"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.icdCodes" type="radio" />
                                    <label cFormCheckLabel for="icdn">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Show Patient birthdate</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="pdoby" [value]="true" name="pdoby"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.patientDOB" type="radio" />
                                    <label cFormCheckLabel for="pdoby">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="pdobn" [value]="false" name="pdobn"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.patientDOB" type="radio" />
                                    <label cFormCheckLabel for="pdobn">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Show Locations</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="xl">
                                    <input cFormCheckInput id="locy" [value]="true" name="locy"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.location" type="radio" />
                                    <label cFormCheckLabel for="locy">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="locn" [value]="false" name="locn"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.location" type="radio" />
                                    <label cFormCheckLabel for="locn">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                        <tr>
                            <td  style="width: 28%;">
                                <strong>Show Place Of Service</strong>
                            </td>
                            <td>
                                <c-form-check inline sizing="lg">
                                    <input cFormCheckInput id="pocy" [value]="true" name="pocy"
                                        [checked]="clientBalanceSettings.patientBalanceAccountSettings.poc" type="radio" />
                                    <label cFormCheckLabel for="pocy">Yes</label>
                                </c-form-check>
                                <c-form-check inline>
                                    <input cFormCheckInput id="pocn" [value]="false" name="pocn"
                                        [checked]="!clientBalanceSettings.patientBalanceAccountSettings.poc" type="radio" />
                                    <label cFormCheckLabel for="pocn">No</label>
                                </c-form-check>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="5">
        <c-card>
            <c-card-header>
                <strong>Remit Address</strong>
            </c-card-header>
            <c-card-body>
                <c-input-group class="mb-1" sizing="sm">
                    <span cInputGroupText>Line 1</span>
                    <input cFormControl id="line1" />
                </c-input-group>
                <c-input-group class="mb-1" sizing="sm">
                    <span cInputGroupText>Line 2</span>
                    <input cFormControl id="line2" />
                </c-input-group>
                <c-input-group class="mb-1" sizing="sm">
                    <span cInputGroupText>Line 3</span>
                    <input cFormControl id="line3" />
                </c-input-group>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<hr />
<div class="mx-3 my-3 text-center">
    <button cButton color="primary" size="sm" variant="outline" style="width: 20%;" (click)="save()">Save</button>
</div>