<c-row>
    <c-col xs="7">
        <c-card>
            <c-card-header>
                <strong>Printing Options</strong>
            </c-card-header>
            <c-card-body>

            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="5">
        <c-card>
            <c-card-header>
                <strong>Remit Address</strong>
            </c-card-header>
            <c-card-body>

            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<hr />
<div class="mx-3 my-3 text-center">
    <button cButton color="primary" size="sm" variant="outline" style="width: 20%;" (click)="save()">Save</button>
</div>