<c-row>
  <c-col xs="10" class="mb-2">
    <h1>Modifier Rules</h1>
  </c-col>
  <c-col xs="2" class="mb-2">
    <button cButton class="me-1" variant="outline" type="submit" style="width: 90%;" (click)="clickAddRule()">
      Add Rule
    </button>
  </c-col>
</c-row>
<hr />

<span *ngIf="modifierRules">
  <c-smart-table [columnSorter]="true" [columns]="columns" [items]="modifierRules"
    [sorterValue]="{ column: 'name', state: 'asc' }" [tableProps]="{ hover: true, striped: true, responsive: true }"
    [tableBodyProps]="{ align: 'middle' }" header>

    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
      <td>
        <ng-container [ngSwitch]="columnName">
          <ng-container *ngSwitchCase="'cptCode'" class="py-2">
            <span *ngIf="item.cptCode === null">
              All CPT
            </span>
            <span *ngIf="item.cptCode !== null">
              {{tdContent}}
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'active'" class="py-2">
            <c-form-check [switch]="true">
              <input cFormCheckInput type="checkbox" [(ngModel)]="item.active"
                  [disabled]="item.insurance===null" (change)="checkValue(item)" />
          </c-form-check>
          </ng-container>
          <ng-container *ngSwitchCase="'actions'" class="py-2">
            <c-button-group aria-label="Basic example" role="group" size="sm">
              <button cButton variant="outline" (click)="edit(item.id)" size="sm" >
                <svg cIcon name="cilPen"></svg>
              </button>
              <button cButton variant="outline" (click)="delete(item.id)" size="sm" [disabled]="item.defaultRule" >
                <svg cIcon name="cilTrash"></svg>
              </button>
            </c-button-group>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{tdContent}}
          </ng-container>
        </ng-container>
      </td>
    </ng-template>
  </c-smart-table>
</span>

<c-modal [visible]="addRuleVisible" scrollable size="xl">
  <c-modal-header>
    <h3 cModalTitle>Add Rule</h3>
    <button (click)="toggleAddRule()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-rule-creation *ngIf="addRuleVisible" (changeVisibility)="changeVisibility($event)"></app-rule-creation>
  </c-modal-body>
</c-modal>

<c-modal [visible]="editRuleVisible" scrollable size="xl">
  <c-modal-header>
    <h3 cModalTitle>Edit Rule</h3>
    <button (click)="toggleEditRule()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-rule-creation *ngIf="editRuleVisible" (changeVisibility)="changeVisibility($event)"
      [editModifierRule]="modifierRule"></app-rule-creation>
  </c-modal-body>
</c-modal>